.modal-menu .row {
  padding-top: 0px;
  padding-bottom: 0px; }

.modal-menu .col-lg-1, .modal-menu .col-lg-2, .modal-menu .col-lg-3, .modal-menu .col-lg-4, .modal-menu .col-lg-5,
.modal-menu .col-lg-6, .modal-menu .col-lg-7, .modal-menu .col-lg-8, .modal-menu .col-lg-9, .modal-menu .col-lg-10,
.modal-menu .col-lg-11, .modal-menu .col-lg-12, .modal-menu .col-md-1, .modal-menu .col-md-2, .modal-menu .col-md-3,
.modal-menu .col-md-4, .modal-menu .col-md-5, .modal-menu .col-md-6, .modal-menu .col-md-7, .modal-menu .col-md-8,
.modal-menu .col-md-9, .modal-menu .col-md-10, .modal-menu .col-md-11, .modal-menu .col-md-12, .modal-menu .col-sm-1,
.modal-menu .col-sm-2, .modal-menu .col-sm-3, .modal-menu .col-sm-4, .modal-menu .col-sm-5, .modal-menu .col-sm-6,
.modal-menu .col-sm-7, .modal-menu .col-sm-8, .modal-menu .col-sm-9, .modal-menu .col-sm-10, .modal-menu .col-sm-11,
.modal-menu .col-sm-12, .modal-menu .col-xs-1, .modal-menu .col-xs-2, .modal-menu .col-xs-3, .modal-menu .col-xs-4,
.modal-menu .col-xs-5, .modal-menu .col-xs-6, .modal-menu .col-xs-7, .modal-menu .col-xs-8, .modal-menu .col-xs-9,
.modal-menu .col-xs-10, .modal-menu .col-xs-11, .modal-menu .col-xs-12 {
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 10px; }

.modal-menu .modal-content {
  -webkit-box-shadow: none;
          box-shadow: none;
  border: none; }

.modal-header {
  padding-top: 0px;
  padding-bottom: 0px;
  border: none; }
  .modal-header .close {
    position: relative;
    width: 32px;
    height: 32px;
    padding: 0px;
    border: none;
    margin-right: 7px; }
  .modal-header .close-cross {
    position: absolute;
    right: 0px;
    top: 0px;
    width: 32px;
    height: 32px;
    opacity: 0.7; }
    .modal-header .close-cross:hover {
      opacity: 1; }
    .modal-header .close-cross:active {
      -webkit-transform: scale(1.2);
          -ms-transform: scale(1.2);
              transform: scale(1.2); }
    .modal-header .close-cross:before, .modal-header .close-cross:after {
      position: absolute;
      left: 15px;
      content: ' ';
      height: 33px;
      width: 2px;
      background-color: #ffffff; }
    .modal-header .close-cross:before {
      -webkit-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
              transform: rotate(45deg); }
    .modal-header .close-cross:after {
      -webkit-transform: rotate(-45deg);
          -ms-transform: rotate(-45deg);
              transform: rotate(-45deg); }

.fade.in .close-in {
  -webkit-transition: -webkit-transform .4s ease-out .2s;
  transition: -webkit-transform .4s ease-out .2s;
  -o-transition: transform .4s ease-out .2s;
  transition: transform .4s ease-out .2s;
  transition: transform .4s ease-out .2s, -webkit-transform .4s ease-out .2s;
  -webkit-transition: opacity .4s ease-out .2s;
  -o-transition: opacity .4s ease-out .2s;
  transition: opacity .4s ease-out .2s;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
  opacity: 1; }

.close-fade {
  -webkit-transition: all .9s ease-out;
  -o-transition: all .9s ease-out;
  transition: all .9s ease-out;
  -webkit-transform: scale(0.95);
      -ms-transform: scale(0.95);
          transform: scale(0.95);
  opacity: 0; }

.modal-transparent {
  background: transparent; }

.modal-transparent .modal-content {
  background: transparent; }

.modal-backdrop.modal-backdrop-transparent {
  -webkit-transition: opacity 0.9s ease-out;
  -o-transition: opacity 0.9s ease-out;
  transition: opacity 0.9s ease-out;
  opacity: 0; }

.modal-backdrop.modal-backdrop-transparent.in {
  -webkit-transition: opacity 0.4s ease-out;
  -o-transition: opacity 0.4s ease-out;
  transition: opacity 0.4s ease-out;
  opacity: .8; }

.fade.in .modal-gradient1 {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(72, 50, 121, 0.65);
  /* Old Browsers */
  /* FF3.6+ */
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(72, 50, 121, 0.65)), color-stop(100%, rgba(0, 0, 0, 0.04)));
  /* Chrome, Safari4+ */
  background: -webkit-radial-gradient(center, ellipse cover, rgba(72, 50, 121, 0.65) 0%, rgba(0, 0, 0, 0.04) 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-radial-gradient(center, ellipse cover, rgba(72, 50, 121, 0.65) 0%, rgba(0, 0, 0, 0.04) 100%);
  /* Opera 11.10+ */
  /* IE 10+ */
  background: -webkit-radial-gradient(center, ellipse, rgba(72, 50, 121, 0.65) 0%, rgba(0, 0, 0, 0.04) 100%);
  background: -o-radial-gradient(center, ellipse, rgba(72, 50, 121, 0.65) 0%, rgba(0, 0, 0, 0.04) 100%);
  background: radial-gradient(ellipse at center, rgba(72, 50, 121, 0.65) 0%, rgba(0, 0, 0, 0.04) 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#483279', endColorstr='#000000', GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */ }

.fade.in .modal-gradient2 {
  position: absolute;
  width: 100%;
  height: 102%;
  background-image: url(../img/modal-gradient-background.png);
  background-repeat: no-repeat;
  -webkit-background-size: cover;
          background-size: cover;
  background-position: center; }

.fade .modal-gradient {
  -webkit-transition: all .9s ease-out;
  -o-transition: all .9s ease-out;
  transition: all .9s ease-out;
  -webkit-transform: scale(0.95);
      -ms-transform: scale(0.95);
          transform: scale(0.95);
  opacity: 0; }

.fade.in .modal-gradient {
  position: absolute;
  left: 50%;
  bottom: 20%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-border-radius: 50%;
          border-radius: 50%;
  -webkit-box-shadow: 1px 1px 250px 270px #4b387d;
          box-shadow: 1px 1px 250px 270px #4b387d;
  -webkit-transition: all .3s ease-out 1.6s;
  -o-transition: all .3s ease-out 1.6s;
  transition: all .3s ease-out 1.6s;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
  opacity: 0.4; }

.modal-open .affix-top {
  padding-right: 17px; }

.point1 .point1-title-bold {
  position: relative;
  top: 22px;
  left: 20px; }
  .point1 .point1-title-bold p {
    font-family: "MyriadProBold";
    font-size: 24px;
    color: #ffffff;
    margin: 0px; }

.point2 .point2-title-light {
  position: absolute;
  top: 22px;
  left: 25px; }
  .point2 .point2-title-light p {
    font-family: "MyriadProLight";
    font-size: 24px;
    color: #ffffff;
    margin: 0px; }

.point2 .point2-img {
  display: none;
  position: absolute;
  top: 17px;
  left: 74.5%;
  height: 58px;
  width: 73px; }
  .point2 .point2-img img {
    width: 80%;
    height: auto; }

.point3 .point3-title-light {
  position: absolute;
  top: 5px;
  left: 25px; }
  .point3 .point3-title-light p {
    width: 100px;
    font-family: "MyriadProLight";
    font-size: 20px;
    line-height: 110%;
    color: #ffffff;
    margin: 0px; }

.point3 .point3-img {
  position: absolute;
  top: 8px;
  left: 77%;
  height: 80px;
  width: 52px; }
  .point3 .point3-img img {
    width: 80%;
    height: auto; }

.point4 .point4-title-light {
  position: absolute;
  top: 18px;
  left: 25px; }
  .point4 .point4-title-light p {
    width: 250px;
    font-family: "MyriadProLight";
    font-size: 20px;
    line-height: 110%;
    color: #ffffff;
    margin: 0px; }

.point4 .point4-img {
  position: relative;
  height: 80px; }
  .point4 .point4-img img {
    position: absolute;
    width: 63px;
    height: 53px;
    bottom: 1px;
    right: 0px; }

.point5 .point5-title-bold {
  position: relative;
  top: 22px;
  left: 20px; }
  .point5 .point5-title-bold p {
    font-family: "MyriadProBold";
    font-size: 24px;
    color: #ffffff;
    margin: 0px; }

.point6 .point6-title-light {
  position: absolute;
  top: 16px;
  left: 25px; }
  .point6 .point6-title-light p {
    width: 250px;
    font-family: "MyriadProLight";
    font-size: 20px;
    line-height: 110%;
    color: #ffffff;
    margin: 0px; }

.point6 .point6-img {
  position: relative;
  height: 80px; }
  .point6 .point6-img img {
    position: absolute;
    width: 60px;
    height: 63px;
    top: 10px;
    right: 0px; }

.point7 .point7-title-bold {
  position: relative;
  top: 22px;
  left: 20px; }
  .point7 .point7-title-bold p {
    font-family: "MyriadProBold";
    font-size: 24px;
    color: #ffffff;
    margin: 0px; }

.point8 .point8-title-light {
  position: absolute;
  top: 12px;
  left: 25px; }
  .point8 .point8-title-light p {
    width: 250px;
    font-family: "MyriadProLight";
    font-size: 18px;
    line-height: 110%;
    color: #ffffff;
    margin: 0px; }

.point9 .point9-title-light {
  position: absolute;
  top: 18px;
  left: 25px; }
  .point9 .point9-title-light p {
    font-family: "MyriadProLight";
    font-size: 20px;
    line-height: 110%;
    color: #ffffff;
    margin: 0px; }

.point9 .point9-img {
  position: relative;
  height: 80px; }
  .point9 .point9-img img {
    position: absolute;
    width: 21px;
    height: 40px;
    top: 20px;
    right: 5%; }

.point-link:active {
  color: #ffffff;
  text-decoration: none; }

.point-link:hover, .point-link:focus {
  color: #ffffff;
  text-decoration: none;
  -webkit-transform: scale(0.8);
      -ms-transform: scale(0.8);
          transform: scale(0.8); }

.point-link:visited {
  color: #ffffff; }

.modal.fade .modal-dialog {
  -webkit-transition: -webkit-transform .3s ease-out;
  transition: -webkit-transform .3s ease-out;
  -o-transition: transform .3s ease-out;
  transition: transform .3s ease-out;
  transition: transform .3s ease-out, -webkit-transform .3s ease-out;
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0); }

.point-box1 {
  -webkit-transition: all .3s ease-out .2s;
  -o-transition: all .3s ease-out .2s;
  transition: all .3s ease-out .2s;
  -webkit-transform: scale(0.95);
      -ms-transform: scale(0.95);
          transform: scale(0.95);
  opacity: 0; }

.point-box2 {
  -webkit-transition: all .3s ease-out .2s;
  -o-transition: all .3s ease-out .2s;
  transition: all .3s ease-out .2s;
  -webkit-transform: scale(0.95);
      -ms-transform: scale(0.95);
          transform: scale(0.95);
  opacity: 0; }

.point-box3 {
  -webkit-transition: all .3s ease-out .2s;
  -o-transition: all .3s ease-out .2s;
  transition: all .3s ease-out .2s;
  -webkit-transform: scale(0.95);
      -ms-transform: scale(0.95);
          transform: scale(0.95);
  opacity: 0; }

.point-box4 {
  -webkit-transition: all .3s ease-out .2s;
  -o-transition: all .3s ease-out .2s;
  transition: all .3s ease-out .2s;
  -webkit-transform: scale(0.95);
      -ms-transform: scale(0.95);
          transform: scale(0.95);
  opacity: 0; }

.point-box5 {
  -webkit-transition: all .3s ease-out .2s;
  -o-transition: all .3s ease-out .2s;
  transition: all .3s ease-out .2s;
  -webkit-transform: scale(0.95);
      -ms-transform: scale(0.95);
          transform: scale(0.95);
  opacity: 0; }

.point-box6 {
  -webkit-transition: all .3s ease-out .2s;
  -o-transition: all .3s ease-out .2s;
  transition: all .3s ease-out .2s;
  -webkit-transform: scale(0.95);
      -ms-transform: scale(0.95);
          transform: scale(0.95);
  opacity: 0; }

.point-box7 {
  -webkit-transition: all .3s ease-out .2s;
  -o-transition: all .3s ease-out .2s;
  transition: all .3s ease-out .2s;
  -webkit-transform: scale(0.95);
      -ms-transform: scale(0.95);
          transform: scale(0.95);
  opacity: 0; }

.point-box8 {
  -webkit-transition: all .3s ease-out .2s;
  -o-transition: all .3s ease-out .2s;
  transition: all .3s ease-out .2s;
  -webkit-transform: scale(0.95);
      -ms-transform: scale(0.95);
          transform: scale(0.95);
  opacity: 0; }

.point-box9 {
  -webkit-transition: all .9s ease-out 4s;
  -o-transition: all .9s ease-out 4s;
  transition: all .9s ease-out 4s;
  -webkit-transform: scale(0.95);
      -ms-transform: scale(0.95);
          transform: scale(0.95);
  opacity: 0; }

.fade.in .point-box-1 {
  -webkit-transition: all .4s ease-out .2s;
  -o-transition: all .4s ease-out .2s;
  transition: all .4s ease-out .2s;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
  opacity: 1; }

.fade.in .point-box-2 {
  -webkit-transition: all .4s ease-out .4s;
  -o-transition: all .4s ease-out .4s;
  transition: all .4s ease-out .4s;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
  opacity: 1; }

.fade.in .point-box-3 {
  -webkit-transition: all .4s ease-out .6s;
  -o-transition: all .4s ease-out .6s;
  transition: all .4s ease-out .6s;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
  opacity: 1; }

.fade.in .point-box-6 {
  -webkit-transition: all .4s ease-out .8s;
  -o-transition: all .4s ease-out .8s;
  transition: all .4s ease-out .8s;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
  opacity: 1; }

.fade.in .point-box-5 {
  -webkit-transition: all .4s ease-out 1s;
  -o-transition: all .4s ease-out 1s;
  transition: all .4s ease-out 1s;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
  opacity: 1; }

.fade.in .point-box-4 {
  -webkit-transition: all .4s ease-out 1.2s;
  -o-transition: all .4s ease-out 1.2s;
  transition: all .4s ease-out 1.2s;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
  opacity: 1; }

.fade.in .point-box-7 {
  -webkit-transition: all .4s ease-out 1.4s;
  -o-transition: all .4s ease-out 1.4s;
  transition: all .4s ease-out 1.4s;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
  opacity: 1; }

.fade.in .point-box-8 {
  -webkit-transition: all .4s ease-out 1.6s;
  -o-transition: all .4s ease-out 1.6s;
  transition: all .4s ease-out 1.6s;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
  opacity: 1; }

.fade.in .point-box-9 {
  -webkit-transition: all .4s ease-out 1.8s;
  -o-transition: all .4s ease-out 1.8s;
  transition: all .4s ease-out 1.8s;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
  opacity: 1; }

.point1 {
  background-color: #7c42a6;
  height: 80px;
  -webkit-box-shadow: inset 0px -1px 0px 0px rgba(255, 255, 255, 0.3);
          box-shadow: inset 0px -1px 0px 0px rgba(255, 255, 255, 0.3); }

.point2 {
  height: 80px;
  background: #45b1b5;
  /* Old Browsers */
  /* FF3.6+ */
  background: -webkit-gradient(left top, right bottom, color-stop(0%, #45b1b5), color-stop(100%, #c0ce73));
  /* Chrome, Safari4+ */
  background: -webkit-linear-gradient(-45deg, #45b1b5 0%, #c0ce73 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(-45deg, #45b1b5 0%, #c0ce73 100%);
  /* Opera 11.10+ */
  /* IE 10+ */
  background: -webkit-linear-gradient(315deg, #45b1b5 0%, #c0ce73 100%);
  background: -o-linear-gradient(315deg, #45b1b5 0%, #c0ce73 100%);
  background: linear-gradient(135deg, #45b1b5 0%, #c0ce73 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45b1b5', endColorstr='#c0ce73', GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */
  -webkit-box-shadow: inset 0px -1px 0px 0px rgba(255, 255, 255, 0.3);
          box-shadow: inset 0px -1px 0px 0px rgba(255, 255, 255, 0.3); }

.point3 {
  background-color: #522e99;
  height: 80px;
  -webkit-box-shadow: inset 0px -1px 0px 0px rgba(255, 255, 255, 0.3);
          box-shadow: inset 0px -1px 0px 0px rgba(255, 255, 255, 0.3); }

.point4 {
  height: 80px;
  background: #c2696c;
  /* Old Browsers */
  /* FF3.6+ */
  background: -webkit-gradient(left top, left bottom, color-stop(0%, #c2696c), color-stop(100%, #9f66a3));
  /* Chrome, Safari4+ */
  background: -webkit-linear-gradient(top, #c2696c 0%, #9f66a3 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #c2696c 0%, #9f66a3 100%);
  /* Opera 11.10+ */
  /* IE 10+ */
  background: -webkit-gradient(linear, left top, left bottom, from(#c2696c), to(#9f66a3));
  background: linear-gradient(to bottom, #c2696c 0%, #9f66a3 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c2696c', endColorstr='#9f66a3', GradientType=0 );
  /* IE6-9 */
  -webkit-box-shadow: inset 0px -1px 0px 0px rgba(255, 255, 255, 0.3);
          box-shadow: inset 0px -1px 0px 0px rgba(255, 255, 255, 0.3); }

.point5 {
  background-color: #6342a6;
  height: 80px;
  -webkit-box-shadow: inset 0px -1px 0px 0px rgba(255, 255, 255, 0.3);
          box-shadow: inset 0px -1px 0px 0px rgba(255, 255, 255, 0.3); }

.point6 {
  height: 80px;
  background: #571436;
  /* Old Browsers */
  /* FF3.6+ */
  background: -webkit-gradient(left top, right bottom, color-stop(0%, #571436), color-stop(100%, #361046));
  /* Chrome, Safari4+ */
  background: -webkit-linear-gradient(-45deg, #571436 0%, #361046 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(-45deg, #571436 0%, #361046 100%);
  /* Opera 11.10+ */
  /* IE 10+ */
  background: -webkit-linear-gradient(315deg, #571436 0%, #361046 100%);
  background: -o-linear-gradient(315deg, #571436 0%, #361046 100%);
  background: linear-gradient(135deg, #571436 0%, #361046 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#571436', endColorstr='#361046', GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */
  -webkit-box-shadow: inset 0px -1px 0px 0px rgba(255, 255, 255, 0.3);
          box-shadow: inset 0px -1px 0px 0px rgba(255, 255, 255, 0.3); }

.point7 {
  background-color: #6342a6;
  height: 80px;
  -webkit-box-shadow: inset 0px -1px 0px 0px rgba(255, 255, 255, 0.3);
          box-shadow: inset 0px -1px 0px 0px rgba(255, 255, 255, 0.3); }

.point8 {
  background-color: #793380;
  height: 80px;
  -webkit-box-shadow: inset 0px -1px 0px 0px rgba(255, 255, 255, 0.3);
          box-shadow: inset 0px -1px 0px 0px rgba(255, 255, 255, 0.3); }

.point9 {
  height: 80px;
  background: #57c098;
  /* Old Browsers */
  /* FF3.6+ */
  background: -webkit-gradient(left bottom, right top, color-stop(0%, #57c098), color-stop(50%, #509ba2), color-stop(100%, #9eb3a2));
  /* Chrome, Safari4+ */
  background: -webkit-linear-gradient(45deg, #57c098 0%, #509ba2 50%, #9eb3a2 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(45deg, #57c098 0%, #509ba2 50%, #9eb3a2 100%);
  /* Opera 11.10+ */
  /* IE 10+ */
  background: linear-gradient(45deg, #57c098 0%, #509ba2 50%, #9eb3a2 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#57c098', endColorstr='#9eb3a2', GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */
  -webkit-box-shadow: inset 0px -1px 0px 0px rgba(255, 255, 255, 0.3);
          box-shadow: inset 0px -1px 0px 0px rgba(255, 255, 255, 0.3); }

@media screen and (min-width: 350px) {
  .point2 .point2-img {
    display: inline-block; } }

@media screen and (max-width: 479px) {
  .modal-menu .col-lg-1, .modal-menu .col-lg-2, .modal-menu .col-lg-3, .modal-menu .col-lg-4, .modal-menu .col-lg-5,
  .modal-menu .col-lg-6, .modal-menu .col-lg-7, .modal-menu .col-lg-8, .modal-menu .col-lg-9, .modal-menu .col-lg-10,
  .modal-menu .col-lg-11, .modal-menu .col-lg-12, .modal-menu .col-md-1, .modal-menu .col-md-2, .modal-menu .col-md-3,
  .modal-menu .col-md-4, .modal-menu .col-md-5, .modal-menu .col-md-6, .modal-menu .col-md-7, .modal-menu .col-md-8,
  .modal-menu .col-md-9, .modal-menu .col-md-10, .modal-menu .col-md-11, .modal-menu .col-md-12, .modal-menu .col-sm-1,
  .modal-menu .col-sm-2, .modal-menu .col-sm-3, .modal-menu .col-sm-4, .modal-menu .col-sm-5, .modal-menu .col-sm-6,
  .modal-menu .col-sm-7, .modal-menu .col-sm-8, .modal-menu .col-sm-9, .modal-menu .col-sm-10, .modal-menu .col-sm-11,
  .modal-menu .col-sm-12, .modal-menu .col-xs-1, .modal-menu .col-xs-2, .modal-menu .col-xs-3, .modal-menu .col-xs-4,
  .modal-menu .col-xs-5, .modal-menu .col-xs-6, .modal-menu .col-xs-7, .modal-menu .col-xs-8, .modal-menu .col-xs-9,
  .modal-menu .col-xs-10, .modal-menu .col-xs-11, .modal-menu .col-xs-12 {
    width: 100%; } }

@media screen and (min-width: 480px) {
  .modal-lg-custom {
    width: 448px; }
  .modal-menu .modal-dialog {
    margin: 30px auto; }
  .point1 .point1-title-bold {
    top: 26px;
    left: 12px; }
    .point1 .point1-title-bold p {
      font-size: 22px; }
  .point2 .point2-title-light {
    top: 24px;
    left: 18px; }
    .point2 .point2-title-light p {
      font-size: 22px; }
  .point2 .point2-img {
    display: none; }
  .point3 .point3-title-light {
    position: relative;
    top: 12px;
    left: 8px; }
    .point3 .point3-title-light p {
      font-size: 18px; }
  .point3-img {
    display: none; }
  .point4 .point4-title-light {
    position: absolute;
    top: 22px;
    left: 18px; }
    .point4 .point4-title-light p {
      font-size: 18px; }
  .point4 .point4-img img {
    width: 48px;
    height: 40px; }
  .point5 .point5-title-bold {
    top: 26px;
    left: 8px; }
    .point5 .point5-title-bold p {
      font-size: 22px; }
  .point6 .point6-title-light {
    top: 22px;
    left: 12px; }
    .point6 .point6-title-light p {
      font-size: 18px; }
  .point6 .point6-img {
    display: none; }
  .point7 .point7-title-bold {
    top: 30px;
    left: 12px; }
    .point7 .point7-title-bold p {
      font-size: 16px; }
  .point8 .point8-title-light {
    top: 23px;
    left: 12px; }
    .point8 .point8-title-light p {
      font-size: 11px; }
  .point9 .point9-title-light {
    top: 18px;
    left: 20px; }
    .point9 .point9-title-light p {
      font-size: 20px; }
  .point9 .point9-img {
    display: none; } }

@media screen and (min-width: 768px) {
  .modal-menu .row {
    padding-top: 10px;
    padding-bottom: 10px; }
  .modal-menu .col-lg-1, .modal-menu .col-lg-2, .modal-menu .col-lg-3, .modal-menu .col-lg-4, .modal-menu .col-lg-5,
  .modal-menu .col-lg-6, .modal-menu .col-lg-7, .modal-menu .col-lg-8, .modal-menu .col-lg-9, .modal-menu .col-lg-10,
  .modal-menu .col-lg-11, .modal-menu .col-lg-12, .modal-menu .col-md-1, .modal-menu .col-md-2, .modal-menu .col-md-3,
  .modal-menu .col-md-4, .modal-menu .col-md-5, .modal-menu .col-md-6, .modal-menu .col-md-7, .modal-menu .col-md-8,
  .modal-menu .col-md-9, .modal-menu .col-md-10, .modal-menu .col-md-11, .modal-menu .col-md-12, .modal-menu .col-sm-1,
  .modal-menu .col-sm-2, .modal-menu .col-sm-3, .modal-menu .col-sm-4, .modal-menu .col-sm-5, .modal-menu .col-sm-6,
  .modal-menu .col-sm-7, .modal-menu .col-sm-8, .modal-menu .col-sm-9, .modal-menu .col-sm-10, .modal-menu .col-sm-11,
  .modal-menu .col-sm-12, .modal-menu .col-xs-1, .modal-menu .col-xs-2, .modal-menu .col-xs-3, .modal-menu .col-xs-4,
  .modal-menu .col-xs-5, .modal-menu .col-xs-6, .modal-menu .col-xs-7, .modal-menu .col-xs-8, .modal-menu .col-xs-9,
  .modal-menu .col-xs-10, .modal-menu .col-xs-11, .modal-menu .col-xs-12 {
    padding-bottom: 0px;
    padding-left: 10px;
    padding-right: 10px; }
  .modal-lg-custom {
    width: 726px; }
  .modal-menu .modal-dialog {
    margin: 50px auto; }
  .point1, .point2, .point3, .point4, .point5, .point6, .point7, .point8, .point9 {
    height: 110px; }
  .fade.in .point-box-4 {
    -webkit-transition: all .9s ease-out .8s;
    -o-transition: all .9s ease-out .8s;
    transition: all .9s ease-out .8s;
    -webkit-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1);
    opacity: 1; }
  .fade.in .point-box-6 {
    -webkit-transition: all .9s ease-out 1.2s;
    -o-transition: all .9s ease-out 1.2s;
    transition: all .9s ease-out 1.2s;
    -webkit-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1);
    opacity: 1; }
  .point1 .point1-title-bold {
    top: 35px;
    left: 15px; }
    .point1 .point1-title-bold p {
      font-size: 30px; }
  .point2 .point2-title-light {
    top: 35px;
    left: 18px; }
    .point2 .point2-title-light p {
      font-size: 30px; }
  .point2 .point2-img {
    display: inline-block;
    top: 24px;
    left: 255px; }
    .point2 .point2-img img {
      width: 100%; }
  .point3 .point3-title-light {
    top: 20px;
    left: 67px; }
    .point3 .point3-title-light p {
      font-size: 20px; }
  .point3 .point3-img {
    display: inline-block;
    top: 20px;
    left: 20px; }
    .point3 .point3-img img {
      width: 90%;
      height: auto; }
  .point4 .point4-title-light {
    position: absolute;
    top: 28px;
    left: 25px; }
    .point4 .point4-title-light p {
      font-size: 26px; }
  .point4 .point4-img {
    height: 110px; }
    .point4 .point4-img img {
      width: 85px;
      height: 70px; }
  .point5 .point5-title-bold {
    top: 35px;
    left: 25px; }
    .point5 .point5-title-bold p {
      font-size: 30px; }
  .point6 .point6-title-light {
    top: 35px;
    left: 20px; }
    .point6 .point6-title-light p {
      font-size: 20px; }
  .point6 .point6-img {
    display: block;
    height: 110px; }
    .point6 .point6-img img {
      position: absolute;
      width: 64px;
      height: 68px;
      top: 23px; }
  .point7 .point7-title-bold {
    top: 37px;
    left: 15px; }
    .point7 .point7-title-bold p {
      font-size: 27px; }
  .point8 .point8-title-light {
    top: 28px;
    left: 24px; }
    .point8 .point8-title-light p {
      font-size: 17px; }
  .point9 .point9-title-light {
    position: absolute;
    top: 28px;
    left: 25px; }
    .point9 .point9-title-light p {
      font-size: 26px; }
  .point9 .point9-img {
    display: block;
    height: 110px; }
    .point9 .point9-img img {
      top: 35px;
      right: 30px; } }

@media screen and (min-width: 992px) {
  .modal-lg-custom {
    width: 960px; }
  .point1, .point2, .point3, .point4, .point5, .point6, .point7, .point8, .point9 {
    height: 140px; }
  .point1 .point1-title-bold {
    top: 50px;
    left: 30px; }
  .point2 .point2-title-light {
    top: 50px;
    left: 40px; }
  .point2 .point2-img {
    top: 39px;
    left: 355px; }
    .point2 .point2-img img {
      width: 100%; }
  .point3 .point3-title-light {
    top: 34px;
    left: 110px; }
    .point3 .point3-title-light p {
      font-size: 20px; }
  .point3 .point3-img {
    display: inline-block;
    top: 30px;
    left: 35px; }
    .point3 .point3-img img {
      width: 100%;
      height: auto; }
  .point4 .point4-title-light {
    position: absolute;
    top: 37px;
    left: 40px; }
    .point4 .point4-title-light p {
      font-size: 30px;
      width: 290px; }
  .point4 .point4-img {
    height: 140px; }
    .point4 .point4-img img {
      width: 129px;
      height: 107px; }
  .point5 .point5-title-bold {
    top: 50px;
    left: 52px; }
  .point6 .point6-title-light {
    top: 46px;
    left: 35px; }
    .point6 .point6-title-light p {
      font-size: 20px; }
  .point6 .point6-img {
    height: 140px; }
    .point6 .point6-img img {
      width: 96px;
      height: 100px;
      top: 20px; }
  .point7 .point7-title-bold {
    top: 50px;
    left: 30px; }
    .point7 .point7-title-bold p {
      font-size: 30px; }
  .point8 .point8-title-light {
    top: 37px;
    left: 44px; }
    .point8 .point8-title-light p {
      font-size: 20px; }
  .point9 .point9-title-light {
    top: 37px;
    left: 40px; }
    .point9 .point9-title-light p {
      font-size: 30px; }
  .point9 .point9-img {
    height: 140px; }
    .point9 .point9-img img {
      top: 50px; } }

@font-face {
  font-family: "MyriadProLight";
  src: url("../fonts/MyriadProLight.woff2") format("woff2"), url("../fonts/MyriadProLight.ttf") format("truetype"), url("../fonts/MyriadProLight.woff") format("woff");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "UniSansHeavyCaps";
  src: url("../fonts/UniSansHeavyCaps.woff2") format("woff2"), url("../fonts/UniSansHeavyCaps.ttf") format("truetype"), url("../fonts/UniSansHeavyCaps.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
