.modal-menu .row {
  padding-top: 10px;
  padding-bottom: 10px; }

.modal-menu .col-lg-1, .modal-menu .col-lg-2, .modal-menu .col-lg-3, .modal-menu .col-lg-4, .modal-menu .col-lg-5,
.modal-menu .col-lg-6, .modal-menu .col-lg-7, .modal-menu .col-lg-8, .modal-menu .col-lg-9, .modal-menu .col-lg-10,
.modal-menu .col-lg-11, .modal-menu .col-lg-12, .modal-menu .col-md-1, .modal-menu .col-md-2, .modal-menu .col-md-3,
.modal-menu .col-md-4, .modal-menu .col-md-5, .modal-menu .col-md-6, .modal-menu .col-md-7, .modal-menu .col-md-8,
.modal-menu .col-md-9, .modal-menu .col-md-10, .modal-menu .col-md-11, .modal-menu .col-md-12, .modal-menu .col-sm-1,
.modal-menu .col-sm-2, .modal-menu .col-sm-3, .modal-menu .col-sm-4, .modal-menu .col-sm-5, .modal-menu .col-sm-6,
.modal-menu .col-sm-7, .modal-menu .col-sm-8, .modal-menu .col-sm-9, .modal-menu .col-sm-10, .modal-menu .col-sm-11,
.modal-menu .col-sm-12, .modal-menu .col-xs-1, .modal-menu .col-xs-2, .modal-menu .col-xs-3, .modal-menu .col-xs-4,
.modal-menu .col-xs-5, .modal-menu .col-xs-6, .modal-menu .col-xs-7, .modal-menu .col-xs-8, .modal-menu .col-xs-9,
.modal-menu .col-xs-10, .modal-menu .col-xs-11, .modal-menu .col-xs-12 {
  padding-left: 10px;
  padding-right: 10px; }

.modal-menu .modal-content {
  -webkit-box-shadow: none;
          box-shadow: none;
  border: none; }

.modal-menu .modal-header {
  border: none; }

.modal-transparent {
  background: transparent; }

.modal-transparent .modal-content {
  background: transparent; }

.modal-backdrop.modal-backdrop-transparent {
  -webkit-transition: opacity 0.9s ease-out;
  -o-transition: opacity 0.9s ease-out;
  transition: opacity 0.9s ease-out;
  opacity: 0; }

.modal-backdrop.modal-backdrop-transparent.in {
  -webkit-transition: opacity 0.4s ease-out;
  -o-transition: opacity 0.4s ease-out;
  transition: opacity 0.4s ease-out;
  opacity: .8; }

.modal-open .affix-top {
  padding-right: 17px; }

.point-title-bold-lg p {
  font-family: "MyriadProBold";
  font-size: 30px;
  color: #ffffff; }

.point-link:active {
  color: #ffffff;
  text-decoration: none; }

.point-link:hover, .point-link:focus {
  color: #ffffff;
  text-decoration: none;
  -webkit-transform: scale(0.8);
      -ms-transform: scale(0.8);
          transform: scale(0.8); }

.point-link:visited {
  color: #ffffff; }

.modal.fade .modal-dialog {
  -webkit-transition: -webkit-transform .3s ease-out;
  transition: -webkit-transform .3s ease-out;
  -o-transition: transform .3s ease-out;
  transition: transform .3s ease-out;
  transition: transform .3s ease-out, -webkit-transform .3s ease-out;
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0); }

.point-box1, .point-box2, .point-box3, .point-box4, .point-box5, .point-box6, .point-box7, .point-box8, .point-box9 {
  -webkit-transition: all .9s ease-out;
  -o-transition: all .9s ease-out;
  transition: all .9s ease-out;
  -webkit-transform: scale(0.95);
      -ms-transform: scale(0.95);
          transform: scale(0.95);
  opacity: 0; }

.point-test {
  -webkit-transition: all .9s ease-out;
  -o-transition: all .9s ease-out;
  transition: all .9s ease-out;
  -webkit-transform: scale(0.95);
      -ms-transform: scale(0.95);
          transform: scale(0.95); }

.fade.in .point-box-1 {
  -webkit-transition: all .9s ease-out;
  -o-transition: all .9s ease-out;
  transition: all .9s ease-out;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
  opacity: 1; }

.point1 {
  background-color: #7c42a6;
  height: 140px;
  -webkit-box-shadow: inset 0px -1px 0px 0px rgba(255, 255, 255, 0.5);
          box-shadow: inset 0px -1px 0px 0px rgba(255, 255, 255, 0.5); }

.point2 {
  background-color: #4db5b2;
  height: 140px;
  -webkit-box-shadow: inset 0px -1px 0px 0px rgba(255, 255, 255, 0.5);
          box-shadow: inset 0px -1px 0px 0px rgba(255, 255, 255, 0.5); }

.point3 {
  background-color: #522e99;
  height: 140px;
  -webkit-box-shadow: inset 0px -1px 0px 0px rgba(255, 255, 255, 0.5);
          box-shadow: inset 0px -1px 0px 0px rgba(255, 255, 255, 0.5); }

.point4 {
  background-color: #c06a71;
  height: 140px;
  -webkit-box-shadow: inset 0px -1px 0px 0px rgba(255, 255, 255, 0.5);
          box-shadow: inset 0px -1px 0px 0px rgba(255, 255, 255, 0.5); }

.point5 {
  background-color: #6342a6;
  height: 140px;
  -webkit-box-shadow: inset 0px -1px 0px 0px rgba(255, 255, 255, 0.5);
          box-shadow: inset 0px -1px 0px 0px rgba(255, 255, 255, 0.5); }

.point6 {
  background-color: #541137;
  height: 140px;
  -webkit-box-shadow: inset 0px -1px 0px 0px rgba(255, 255, 255, 0.5);
          box-shadow: inset 0px -1px 0px 0px rgba(255, 255, 255, 0.5); }

.point7 {
  background-color: #6342a6;
  height: 140px;
  -webkit-box-shadow: inset 0px -1px 0px 0px rgba(255, 255, 255, 0.5);
          box-shadow: inset 0px -1px 0px 0px rgba(255, 255, 255, 0.5); }

.point8 {
  background-color: #793380;
  height: 140px;
  -webkit-box-shadow: inset 0px -1px 0px 0px rgba(255, 255, 255, 0.5);
          box-shadow: inset 0px -1px 0px 0px rgba(255, 255, 255, 0.5); }

.point9 {
  background-color: #618c9c;
  height: 140px;
  -webkit-box-shadow: inset 0px -1px 0px 0px rgba(255, 255, 255, 0.5);
          box-shadow: inset 0px -1px 0px 0px rgba(255, 255, 255, 0.5); }

@media screen and (min-width: 480px) {
  .modal-menu .modal-dialog {
    margin: 30px auto; } }

@media screen and (min-width: 768px) {
  .modal-lg-custom {
    width: 736px; }
  .modal-menu .modal-dialog {
    margin: 50px auto; } }

@media screen and (min-width: 992px) {
  .modal-lg-custom {
    width: 960px; } }

@font-face {
  font-family: "MyriadProLight";
  src: url("../fonts/MyriadProLight.woff2") format("woff2"), url("../fonts/MyriadProLight.ttf") format("truetype"), url("../fonts/MyriadProLight.woff") format("woff");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "UniSansHeavyCaps";
  src: url("../fonts/UniSansHeavyCaps.woff2") format("woff2"), url("../fonts/UniSansHeavyCaps.ttf") format("truetype"), url("../fonts/UniSansHeavyCaps.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
