.reg-footer-bg {
  background: url(../img/registration-bg.jpg);
  background-repeat: no-repeat;
  -webkit-background-size: cover;
          background-size: cover;
  background-position: center;
  background-attachment: fixed; }

.registration .card-ready {
  display: block;
  -webkit-transform: translate(-9999px);
      -ms-transform: translate(-9999px);
          transform: translate(-9999px);
  opacity: 0;
  position: absolute; }

.registration .card-not-ready {
  display: block;
  position: static;
  -webkit-transition: opacity .3s ease-out;
  -o-transition: opacity .3s ease-out;
  transition: opacity .3s ease-out;
  -webkit-transform: translate(0);
      -ms-transform: translate(0);
          transform: translate(0);
  opacity: 1; }

.registration.ready .card-ready {
  display: block;
  position: static;
  -webkit-transition: opacity .3s ease-out;
  -o-transition: opacity .3s ease-out;
  transition: opacity .3s ease-out;
  -webkit-transform: translate(0);
      -ms-transform: translate(0);
          transform: translate(0);
  opacity: 1; }

.registration.ready .card-not-ready {
  display: block;
  position: absolute;
  -webkit-transform: translate(-9999px);
      -ms-transform: translate(-9999px);
          transform: translate(-9999px);
  opacity: 0; }

.card-ready .form-horizontal {
  margin: 65px auto 0px;
  width: 100%;
  max-width: 400px; }
  .card-ready .form-horizontal .btn-next {
    margin-bottom: 219px; }

.card-ready .input-line {
  width: 100%;
  height: 1px;
  background-color: #7fffb5; }

.card-ready input[type=text]:focus {
  padding-bottom: 20px; }
  .card-ready input[type=text]:focus + div {
    height: 2px;
    -webkit-box-shadow: 0px 0px 40px 1px rgba(127, 255, 181, 0.72);
            box-shadow: 0px 0px 40px 1px rgba(127, 255, 181, 0.72); }

.card-ready input[type=text]:hover {
  padding-bottom: 20px; }
  .card-ready input[type=text]:hover + div {
    height: 2px;
    -webkit-box-shadow: 0px 0px 40px 1px rgba(127, 255, 181, 0.72);
            box-shadow: 0px 0px 40px 1px rgba(127, 255, 181, 0.72); }

.registration {
  color: #ffffff;
  font-family: "MyriadProLight"; }
  .registration .form-group {
    padding-left: 15px;
    padding-right: 15px; }

.registration-header {
  margin-top: 55px;
  margin-bottom: 0px; }

.registration-logo h2 {
  font-size: 40px;
  display: block;
  text-align: center; }

.registration-checkbox {
  font-size: 20px;
  width: 220px;
  margin: 0 auto 11px; }
  .registration-checkbox p {
    padding-left: 34px;
    margin: 7px 0px 0px 0px; }

.checkbox-reg {
  width: 28px;
  height: 28px;
  position: relative;
  background: transparent; }
  .checkbox-reg label {
    width: 20px;
    height: 20px;
    cursor: pointer;
    position: absolute;
    left: 0px;
    top: 37px;
    background: transparent;
    border: 1px solid white;
    border: 1px solid rgba(255, 255, 255, 0.5);
    -webkit-background-clip: padding-box;
            background-clip: padding-box; }
    .checkbox-reg label:after {
      content: '';
      width: 26px;
      height: 14px;
      position: absolute;
      top: -3px;
      left: -1px;
      -webkit-transform: rotate(-50deg);
          -ms-transform: rotate(-50deg);
              transform: rotate(-50deg);
      border: 2px solid #ffffff;
      border-top: none;
      border-right: none;
      background: transparent;
      opacity: 0; }
    .checkbox-reg label:hover::after {
      opacity: 0.3;
      -webkit-transition: opacity .4s ease-out;
      -o-transition: opacity .4s ease-out;
      transition: opacity .4s ease-out; }
  .checkbox-reg input[type=checkbox] {
    visibility: hidden; }
    .checkbox-reg input[type=checkbox]:checked + label:after {
      -webkit-transition: opacity .4s ease-out;
      -o-transition: opacity .4s ease-out;
      transition: opacity .4s ease-out;
      opacity: 1; }

.registration-tab-panel {
  margin-bottom: 89px; }

.nav-tabs-custom {
  border: none; }

.nav-tabs-custom > li.active > a {
  color: #7fffb5;
  cursor: pointer;
  background-color: transparent;
  border: 1px solid #7fffb5;
  border-bottom: none;
  border-left: none;
  border-right: none;
  padding-left: 0px;
  -webkit-border-radius: 0px;
          border-radius: 0px;
  -webkit-transition: all .3s ease-out;
  -o-transition: all .3s ease-out;
  transition: all .3s ease-out; }
  .nav-tabs-custom > li.active > a:hover, .nav-tabs-custom > li.active > a:focus {
    color: #7fffb5;
    cursor: pointer;
    background-color: transparent;
    border: 1px solid #7fffb5;
    border-bottom: none;
    border-left: none;
    border-right: none; }
  .nav-tabs-custom > li.active > a:active {
    color: #7fffb5;
    cursor: pointer;
    background-color: transparent;
    border: 1px solid #7fffb5;
    border-bottom: none;
    border-left: none;
    border-right: none; }

.nav-tabs-custom li {
  width: 100%; }
  .nav-tabs-custom li a {
    color: #406d79;
    cursor: pointer;
    background-color: transparent;
    border: 1px solid #406d79;
    border-bottom: none;
    border-left: none;
    border-right: none;
    padding-left: 0px;
    -webkit-border-radius: 0px;
            border-radius: 0px;
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: 14px;
    line-height: 16px; }
    .nav-tabs-custom li a:hover, .nav-tabs-custom li a:focus {
      color: #7fffb5;
      cursor: pointer;
      background-color: transparent;
      border: 1px solid #7fffb5;
      border-bottom: none;
      border-left: none;
      border-right: none;
      -webkit-transition: all .3s ease-out;
      -o-transition: all .3s ease-out;
      transition: all .3s ease-out; }

.registration .form-group {
  margin-bottom: 16px; }

.registration .form-control {
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-bottom: none;
  -webkit-border-radius: 0px;
          border-radius: 0px;
  padding: 22px 0px 21px 0px;
  font-size: 20px;
  line-height: 22px;
  color: #ffffff;
  margin-bottom: 0px;
  margin-top: 0px;
  background-color: transparent; }

.registration input::-webkit-input-placeholder {
  color: white;
  opacity: 0.8; }

.registration input::-moz-placeholder {
  color: white;
  opacity: 0.8; }

.registration input:-ms-input-placeholder {
  color: white;
  opacity: 0.8; }

.registration input::placeholder {
  color: white;
  opacity: 0.8; }

.registration .card-not-ready .input-line {
  width: 100%;
  height: 1px;
  background-color: #7fffb5; }

.registration .card-not-ready input[type=text]:focus {
  padding-bottom: 20px; }
  .registration .card-not-ready input[type=text]:focus + div {
    height: 2px;
    -webkit-box-shadow: 0px 0px 40px 1px rgba(127, 255, 181, 0.72);
            box-shadow: 0px 0px 40px 1px rgba(127, 255, 181, 0.72); }

.registration .card-not-ready input[type=text]:hover {
  padding-bottom: 20px; }
  .registration .card-not-ready input[type=text]:hover + div {
    height: 2px;
    -webkit-box-shadow: 0px 0px 40px 1px rgba(127, 255, 181, 0.72);
            box-shadow: 0px 0px 40px 1px rgba(127, 255, 181, 0.72); }

.registration .btn-previously {
  font-family: "MyriadProLight";
  margin-top: 27px;
  margin-bottom: 27px;
  margin-right: 10px;
  display: block;
  float: right;
  padding: 9px 18px;
  border: 1px solid #ffffff;
  -webkit-border-radius: 50px;
          border-radius: 50px;
  outline: none !important;
  line-height: 22px;
  text-align: center;
  color: #ffffff;
  font-size: 20px;
  background: transparent; }
  .registration .btn-previously:active {
    -webkit-transform: scale(0.98);
        -ms-transform: scale(0.98);
            transform: scale(0.98); }

.registration .btn-next {
  font-family: "MyriadProLight";
  margin-top: 27px;
  margin-bottom: 27px;
  display: block;
  float: right;
  padding: 9px 29px;
  border: none;
  -webkit-border-radius: 50px;
          border-radius: 50px;
  outline: none !important;
  line-height: 22px;
  text-align: center;
  color: #ffffff;
  font-size: 20px;
  /* ff3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #7c4dff), color-stop(100%, #9937b1));
  /* safari4+,chrome */
  background: -webkit-linear-gradient(75deg, #9937b1 0%, #7c4dff 100%);
  /* safari5.1+,chrome10+ */
  background: -o-linear-gradient(75deg, #9937b1 0%, #7c4dff 100%);
  /* opera 11.10+ */
  /* ie10+ */
  background: linear-gradient(15deg, #9937b1 0%, #7c4dff 100%);
  /* w3c */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7c4dff', endColorstr='#9937b1',GradientType=0 );
  /* ie6-9 */ }
  .registration .btn-next:active {
    -webkit-transform: scale(0.98);
        -ms-transform: scale(0.98);
            transform: scale(0.98); }

.registration-stuff-1 {
  height: 291px; }
  .registration-stuff-1 img {
    position: absolute;
    width: 291px;
    height: 291px;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    top: -20px; }
  .registration-stuff-1 p {
    position: absolute;
    top: 10px;
    right: 20px;
    text-align: right;
    font-style: italic; }

.registration-stuff-2 {
  height: 350px; }
  .registration-stuff-2 .stuff-2-card {
    position: absolute;
    top: 20px;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    width: 223px;
    height: 145px; }
  .registration-stuff-2 .stuff-2-point {
    position: absolute;
    top: 140px;
    left: 50%;
    -webkit-transform: translateX(405%);
        -ms-transform: translateX(405%);
            transform: translateX(405%); }
  .registration-stuff-2 p {
    position: absolute;
    text-align: right;
    font-style: italic;
    top: 195px;
    right: 60px; }
  .registration-stuff-2 .item-point-stuff-2 {
    display: block;
    position: absolute;
    z-index: 222;
    top: 140px;
    left: 50%;
    -webkit-transform: translateX(86px);
        -ms-transform: translateX(86px);
            transform: translateX(86px); }
    .registration-stuff-2 .item-point-stuff-2 .top-pulsate {
      background-color: #e8e8e838;
      -webkit-border-radius: 30px;
              border-radius: 30px;
      height: 35px;
      width: 35px;
      right: -14px;
      top: 1px;
      margin: -15px 0 0 -15px;
      opacity: 0;
      position: absolute;
      -webkit-animation: pulsate 1.5s ease-out;
              animation: pulsate 1.5s ease-out;
      -webkit-animation-iteration-count: infinite;
              animation-iteration-count: infinite;
      -webkit-animation-delay: 0s;
              animation-delay: 0s; }

@-webkit-keyframes pulsate {
  0% {
    -webkit-transform: scale(0.1);
            transform: scale(0.1);
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
    opacity: 0; } }
    .registration-stuff-2 .item-point-stuff-2 .top-pulsate1 {
      background-color: #e8e8e838;
      -webkit-border-radius: 30px;
              border-radius: 30px;
      height: 23px;
      width: 23px;
      right: -8px;
      top: 7px;
      margin: -15px 0 0 -15px;
      opacity: 0;
      position: absolute;
      -webkit-animation: pulsate 1.5s ease-out;
              animation: pulsate 1.5s ease-out;
      -webkit-animation-iteration-count: infinite;
              animation-iteration-count: infinite;
      -webkit-animation-delay: 0s;
              animation-delay: 0s; }

.registration-stuff-3 {
  height: 350px;
  position: relative; }
  .registration-stuff-3 .data-order {
    position: absolute;
    top: 113px;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    background-color: transparent;
    width: 172px;
    height: 82px; }
    .registration-stuff-3 .data-order p {
      top: 0px;
      left: 0px;
      width: 170px;
      -webkit-transform: none;
          -ms-transform: none;
              transform: none;
      color: #000000;
      font-size: 14px;
      font-style: normal; }
  .registration-stuff-3 .stuff-3 {
    display: none; }
  .registration-stuff-3 .stuff-3-small {
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%); }
  .registration-stuff-3 .stuff-3-card {
    position: absolute;
    top: -25px;
    left: 50%;
    -webkit-transform: translateX(-82%);
        -ms-transform: translateX(-82%);
            transform: translateX(-82%); }
  .registration-stuff-3 .stuff-3-point {
    position: absolute;
    top: 180px;
    left: 50%;
    -webkit-transform: scale(-1, 1) rotate(90deg) translateY(1%);
        -ms-transform: scale(-1, 1) rotate(90deg) translateY(1%);
            transform: scale(-1, 1) rotate(90deg) translateY(1%); }
  .registration-stuff-3 p {
    position: absolute;
    font-style: italic;
    top: 260px;
    left: 20%;
    -webkit-transform: translateX(-20%);
        -ms-transform: translateX(-20%);
            transform: translateX(-20%);
    text-align: left; }
  .registration-stuff-3 .item-point-stuff-3 {
    display: block;
    position: absolute;
    z-index: 222;
    top: 177px;
    left: 50%;
    -webkit-transform: translateX(76px);
        -ms-transform: translateX(76px);
            transform: translateX(76px); }
    .registration-stuff-3 .item-point-stuff-3 .top-pulsate {
      background-color: #d3d0d09a;
      -webkit-border-radius: 30px;
              border-radius: 30px;
      height: 35px;
      width: 35px;
      right: -14px;
      top: 1px;
      margin: -15px 0 0 -15px;
      opacity: 0;
      position: absolute;
      -webkit-animation: pulsate 1.5s ease-out;
              animation: pulsate 1.5s ease-out;
      -webkit-animation-iteration-count: infinite;
              animation-iteration-count: infinite;
      -webkit-animation-delay: 0s;
              animation-delay: 0s; }

@-webkit-keyframes pulsate {
  0% {
    -webkit-transform: scale(0.1);
            transform: scale(0.1);
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
    opacity: 0; } }
    .registration-stuff-3 .item-point-stuff-3 .top-pulsate1 {
      background-color: #d3d0d09a;
      -webkit-border-radius: 30px;
              border-radius: 30px;
      height: 23px;
      width: 23px;
      right: -8px;
      top: 7px;
      margin: -15px 0 0 -15px;
      opacity: 0;
      position: absolute;
      -webkit-animation: pulsate 1.5s ease-out;
              animation: pulsate 1.5s ease-out;
      -webkit-animation-iteration-count: infinite;
              animation-iteration-count: infinite;
      -webkit-animation-delay: 0s;
              animation-delay: 0s; }

.registration-stuff-3-btn {
  width: 250px;
  margin: 0 auto; }

.btn-stuff-1, .btn-stuff-2 {
  font-family: "MyriadProLight";
  margin-top: 27px;
  margin-bottom: 27px;
  display: inline-block;
  padding: 5px 10px;
  border: none;
  -webkit-border-radius: 50px;
          border-radius: 50px;
  outline: none !important;
  line-height: 16px;
  text-align: center;
  color: #ffffff;
  font-size: 14px;
  /* ff3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #7c4dff), color-stop(100%, #9937b1));
  /* safari4+,chrome */
  background: -webkit-linear-gradient(75deg, #9937b1 0%, #7c4dff 100%);
  /* safari5.1+,chrome10+ */
  background: -o-linear-gradient(75deg, #9937b1 0%, #7c4dff 100%);
  /* opera 11.10+ */
  /* ie10+ */
  background: linear-gradient(15deg, #9937b1 0%, #7c4dff 100%);
  /* w3c */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7c4dff', endColorstr='#9937b1',GradientType=0 );
  /* ie6-9 */ }
  .btn-stuff-1:active, .btn-stuff-2:active {
    -webkit-transform: scale(0.98);
        -ms-transform: scale(0.98);
            transform: scale(0.98); }

.btn-stuff-1 {
  background: transparent;
  border: 1px solid #ffffff;
  margin-right: 14px; }

@media screen and (min-width: 480px) {
  .registration-tab-panel .tabs {
    margin: 10px auto 0px;
    width: 432px; }
  .nav-tabs-custom li {
    width: 144px; }
  .card-not-ready .form-horizontal {
    margin: 0px auto 20px;
    width: 100%;
    max-width: 432px; }
  .registration .btn-previously {
    margin-right: 20px; }
  .registration-stuff-1 img {
    width: 335px;
    height: 335px;
    top: -25px; }
  .registration-stuff-1 p {
    left: 50%;
    -webkit-transform: translateX(-40%);
        -ms-transform: translateX(-40%);
            transform: translateX(-40%); }
  .registration-stuff-2 p {
    -webkit-transform: translateX(-40%);
        -ms-transform: translateX(-40%);
            transform: translateX(-40%); }
  .registration-stuff-3 {
    position: relative; }
    .registration-stuff-3 .data-order {
      top: 113px;
      left: 50%;
      -webkit-transform: translateX(-50%);
          -ms-transform: translateX(-50%);
              transform: translateX(-50%); }
      .registration-stuff-3 .data-order p {
        top: 0px;
        left: 0px;
        -webkit-transform: none;
            -ms-transform: none;
                transform: none; }
    .registration-stuff-3 p {
      left: 50%;
      -webkit-transform: translateX(-45%);
          -ms-transform: translateX(-45%);
              transform: translateX(-45%); } }

@media screen and (min-width: 768px) {
  .registration-tab-panel .tabs {
    width: 100%; }
    .registration-tab-panel .tabs li {
      width: 226px; }
    .registration-tab-panel .tabs .tab-indent {
      margin-right: 20px; }
    .registration-tab-panel .tabs .tab-not-indent {
      margin-right: 0px; }
  .registration-logo h2 {
    font-size: 40px;
    display: inline-block; }
  .registration-checkbox {
    font-size: 20px;
    width: 220px;
    margin: 0 0 11px;
    float: right; }
  .card-not-ready .form-horizontal {
    margin: 0px 0px 20px; }
  .registration-stuff-1 img {
    width: 300px;
    height: 300px;
    top: 33px; }
  .registration-stuff-1 p {
    left: 43%;
    top: 85px;
    -webkit-transform: translateX(-40%);
    -ms-transform: translateX(-40%);
    transform: none;
    width: 185px; }
  .registration-stuff-2 .stuff-2-card {
    top: 65px; }
  .registration-stuff-2 .stuff-2-point {
    top: 185px;
    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
    left: 255px; }
  .registration-stuff-2 .item-point-stuff-2 {
    top: 185px;
    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
    left: 268px; }
  .registration-stuff-2 p {
    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
    top: 235px; }
  .registration-stuff-3 {
    height: 100%;
    position: relative; }
    .registration-stuff-3 .data-order {
      top: 113px;
      left: 255px;
      -webkit-transform: none;
          -ms-transform: none;
              transform: none; }
      .registration-stuff-3 .data-order p {
        top: 0px;
        left: 0px;
        -webkit-transform: none;
            -ms-transform: none;
                transform: none; }
    .registration-stuff-3 .stuff-3-small {
      display: none; }
    .registration-stuff-3 .stuff-3 {
      display: block; }
    .registration-stuff-3 .stuff-3-card {
      -webkit-transform: none;
          -ms-transform: none;
              transform: none;
      top: 26px;
      left: -50px; }
    .registration-stuff-3 .stuff-3-point {
      top: 114px;
      left: 410px;
      -webkit-transform: none;
          -ms-transform: none;
              transform: none; }
    .registration-stuff-3 .item-point-stuff-3 {
      top: 178px;
      left: 417px;
      -webkit-transform: none;
          -ms-transform: none;
              transform: none; }
    .registration-stuff-3 p {
      top: 30px;
      left: 486px;
      -webkit-transform: none;
          -ms-transform: none;
              transform: none; }
  .registration .btn-next {
    margin-bottom: 93px; }
  .registration .registration-stuff-3-btn {
    width: 384px; }
  .registration .btn-stuff-2 {
    margin-top: 52px;
    margin-bottom: 78px;
    margin-left: 20px;
    padding: 9px 16px;
    line-height: 22px;
    font-size: 20px; }
  .registration .btn-stuff-1 {
    margin-top: 52px;
    margin-bottom: 78px;
    margin-right: 20px;
    padding: 8px 17px;
    line-height: 22px;
    font-size: 20px; } }

@media screen and (min-width: 992px) {
  .card-not-ready {
    width: 940px;
    margin: 0 auto; }
  .registration-header {
    width: 940px;
    margin: 55px auto 0px; }
  .registration-tab-panel .tabs li {
    width: 300px; }
  .registration-stuff-1 img {
    width: 420px;
    height: 420px;
    top: -70px; }
  .registration-stuff-1 p {
    left: 260px;
    top: 20px; }
  .registration-stuff-2 .stuff-2-point {
    left: 310px; }
  .registration-stuff-2 .item-point-stuff-2 {
    left: 323px; }
  .registration-stuff-3 .data-order {
    top: 115px;
    left: 433px; }
    .registration-stuff-3 .data-order p {
      top: 0px;
      left: 0px;
      -webkit-transform: none;
          -ms-transform: none;
              transform: none; }
  .registration-stuff-3 .stuff-3 {
    margin-left: 180px; }
  .registration-stuff-3 .stuff-3-card {
    left: 130px; }
  .registration-stuff-3 .stuff-3-point {
    left: 590px; }
  .registration-stuff-3 .item-point-stuff-3 {
    left: 597px; }
  .registration-stuff-3 p {
    top: 86px;
    left: 675px; } }
