

// Font
@font-face {
    font-family: "AkzidenzGroteskProRegular"; 
    src: url('../fonts/AkzidenzGroteskProRegular.woff2') format('woff2'),
    url("../fonts/AkzidenzGroteskProRegular.ttf") format("truetype"),
    url('../fonts/AkzidenzGroteskProRegular.woff') format('woff'),
    url("../fonts/AkzidenzGroteskProRegular.otf") format("onetype");    
    font-style: normal; 
    font-weight: normal; 
}