.modal-open {
    .affix {padding-right: 17px;}
}

.fade.in {
    .modal-content {
        transition: all .3s ease-out .1s;
        transform: scale(1);
        opacity: 1;
    }
}

.modal-login {
    font-family: "AkzidenzGroteskProRegular";
    
    .modal-content {
        transition: all .3s ease-out;
        transform: scale(0.9);
        opacity: 0;
    }

    .modal-content {
        border: none;
        border-radius: 0%;
        margin: 0 auto;
        box-shadow: none;
        padding-left: 20px;        
    }

    .modal-size-login {
        width: 280px;
        margin: 105px auto 0;
    }

    .modal-header {padding-left: 0px;}

    .modal-body {
        padding-left: 0px;
        margin-top: 10px; 
    }

    .container-fluid {padding-left: 0px;}

    .close {
        position: absolute;
        right: 0px;
        top:0px;
        padding: 0px;
        margin: 0px;
        border-left: 1px #f3f0f9 solid;
        border-bottom: 1px #f3f0f9 solid;
        line-height: 0;

        &:hover,
        &:focus {
            border-left: 1px #d1d0d4 solid;
            border-bottom: 1px #d1d0d4 solid;

            img {transform: scale(1.2);}
        }

        &:active {
            border-left: 1px #b0afb2 solid;
            border-bottom: 1px #b0afb2 solid;

            img {transform: scale(0.9);}
        }
    }

    .login-logo {padding-top: 35px;}

    h2 {
        margin:0px 0px 25px 0px;
        font-size: 24px;
    }

    .form-control {
        border-top: none;
        border-left: none;
        border-right: none;
        box-shadow: none;

        border-bottom: 1px solid #ccc;
        border-radius: 0px;
        padding: 5px 100px 5px 0px;
        font-size: 16px;
    }

    .form-email {padding: 5px 0px 5px 0px;}

    .forgotten {
        position: absolute;
        z-index: 1;
        top: 122px;
        left: 135px;

        a {color: #6200ea;}
    }

    .btn-login-form {
        background-color: transparent;
        display: block;
        float: right;
        color: #6200ea;
        font-size: 24px;
        
        border: none;
        border-radius: none;
        text-decoration: none;
        outline: none;
        line-height: 17px;
        
        margin-top: 15px;
        padding-right: 0px;
        padding-left: 0px;

        span {padding-left: 5px;}

        &:hover,
        &:focus {transform: scale(1.05);}

        &:active {transform: scale(1);}
    }

    .login-registration {
        color: #9a9a9e;
        font-size: 16px;
        margin-top: 45px;
        margin-bottom: 30px; 
        
        a {color: #6200ea;}
    }
}

@media screen and (min-width:480px) {

    .modal-login {
        .modal-content {padding-left: 40px;}

        .modal-size-login {width: 400px;}

        .modal-body {padding-right: 40px;}
    
        h2 {margin:31px 0px 21px 0px;}
    
        .forgotten {
            top: 149px;
            left: 211px;
        }

        .login-registration {margin-top: 52px;}
    }
    
}

@media screen and (min-width:768px) {

}

@media screen and (min-width:992px) {

}

@media screen and (min-width:1200px) {

}

// Font
@font-face {
    font-family: "AkzidenzGroteskProRegular"; 
    src: url('../fonts/AkzidenzGroteskProRegular.woff2') format('woff2'),
    url("../fonts/AkzidenzGroteskProRegular.ttf") format("truetype"),
    url('../fonts/AkzidenzGroteskProRegular.woff') format('woff'),
    url("../fonts/AkzidenzGroteskProRegular.otf") format("onetype");    
    font-style: normal; 
    font-weight: normal; 
}