// Styles for modal grid system
.modal-menu {
    .row {
        padding-top: 0px;
        padding-bottom: 0px;
    }

    .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, 
    .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, 
    .col-lg-11, .col-lg-12, .col-md-1, .col-md-2, .col-md-3, 
    .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, 
    .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-sm-1, 
    .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, 
    .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, 
    .col-sm-12, .col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, 
    .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, 
    .col-xs-10, .col-xs-11, .col-xs-12 {

        padding-left: 5px;
        padding-right: 5px;
        padding-bottom: 10px;
    }

    .modal-content {
        box-shadow: none;
        border: none;
    }
}

// Styles for modal header

.modal-header {
    padding-top: 0px;
    padding-bottom: 0px;
    border:none;

    .close {
        position: relative;
        width: 32px;
        height: 32px;
        padding: 0px;
        border: none;
        margin-right: 7px;
        outline: none;
    }

    .close-cross {
        position: absolute;
        right: 0px;
        top: 0px;
        width: 32px;
        height: 32px;
        opacity: 0.7;

        &:hover {opacity: 1;}
        &:active {transform: scale(1.2)}        

        &:before, &:after {
        position: absolute;
        left: 15px;
        content: ' ';
        height: 33px;
        width: 2px;
        background-color: #ffffff;
        }

        &:before {transform: rotate(45deg);}
        
        &:after {transform: rotate(-45deg);}
    }
}

    .fade.in {
        .close-in {
            transition: transform .4s ease-out .2s;
            transition: opacity .4s ease-out .2s;
            transform: scale(1);
            opacity: 1;
        }
    }
    .close-fade {
        transition: all .9s ease-out;
        transform: scale(0.95);
        opacity: 0;
    }


// Styles only for modal background

.modal-transparent {
    background: transparent;
}
.modal-transparent .modal-content {background: transparent;}

.modal-backdrop.modal-backdrop-transparent {
    transition: opacity 0.9s ease-out;
    opacity: 0;
}
.modal-backdrop.modal-backdrop-transparent.in {
    transition: opacity 0.4s ease-out;
    opacity: .8;
}
.fade.in {
    .modal-gradient1 {
        position: absolute;
        //top:400px;
        //left: 100px;
        width: 100%;
        height: 100%;
        background: rgba(72,50,121,0.65);/* Old Browsers */
        background: -moz-radial-gradient(center, ellipse cover, rgba(72,50,121,0.65) 0%, rgba(0,0,0,0.04) 100%); /* FF3.6+ */
        background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(72,50,121,0.65)), color-stop(100%, rgba(0,0,0,0.04)));/* Chrome, Safari4+ */
        background: -webkit-radial-gradient(center, ellipse cover, rgba(72,50,121,0.65) 0%, rgba(0,0,0,0.04) 100%); /* Chrome10+,Safari5.1+ */
        background: -o-radial-gradient(center, ellipse cover, rgba(72,50,121,0.65) 0%, rgba(0,0,0,0.04) 100%); /* Opera 11.10+ */
        background: -ms-radial-gradient(center, ellipse cover, rgba(72,50,121,0.65) 0%, rgba(0,0,0,0.04) 100%); /* IE 10+ */
        background: radial-gradient(ellipse at center, rgba(72,50,121,0.65) 0%, rgba(0,0,0,0.04) 100%);/* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#483279', endColorstr='#000000', GradientType=1 );/* IE6-9 fallback on horizontal gradient */
    }
}

.fade.in {
    .modal-gradient2 {
        position: absolute;
        //bottom: 0px;
        width: 100%;
        height: 102%;
        background-image:url(../img/modal-gradient-background.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
}
.fade {
    .modal-gradient {
        position: absolute;
        left: 50%;
        bottom: 20%;
        transform: translateX(-50%);
        border-radius: 50%;
        box-shadow: 1px 1px 250px 270px #4b387d;

        transition: all 1.2s ease-out .6s;
        transform: scale(0.95);
        opacity: 0;
    }
}

.fade.in {
    .modal-gradient {
        position: absolute;
        left: 50%;
        bottom: 20%;
        transform: translateX(-50%);
        border-radius: 50%;
        box-shadow: 1px 1px 250px 270px #4b387d;

        transition: all 1.2s ease-out .6s;
        transform: scale(1);
        opacity: 0.4;
       // animation: shadow 5s infinite alternate;
      }
      
     // @keyframes shadow {
       // from {
       //   box-shadow: 0 0 200px 100px #4b387d;
       // }
//to {
      //    box-shadow: 0 0 220px 110px #4b387d;
      //  }
   // }
}

.modal-open {.affix-top {padding-right: 17px;}} // I am clearly tsar. I fixed moving right affix block when modal window open.

// Content Styles

.point1 {
    .point1-title-bold {
        position: relative;
        top: 22px;
        left: 20px;

        p {
            font-family: "MyriadProBold";
            font-size: 24px;
            color: #ffffff;
            margin: 0px;
        }
    }
}

.point2 {
    .point2-title-light {
        position: absolute;
        top: 22px;
        left: 25px;

        p {
            font-family: "MyriadProLight";
            font-size: 24px;
            color: #ffffff;
            margin: 0px;
        }
    }

        .point2-img {
            display: none;
            position: absolute;
            top: 17px;
            left: 74.5%;
            height: 58px;
            width: 73px;
            
            img {
                width: 80%;
                height: auto;
            }
        }
}

.point3 {
    .point3-title-light {
        position: absolute;
        top: 5px;
        left: 25px;

        p {
            width: 100px;
            font-family: "MyriadProLight";
            font-size: 20px;
            line-height: 110%;
            color: #ffffff;
            margin: 0px;
        }
    }

    .point3-img {
        position: absolute;
        top: 8px;
        left: 77%;
        height: 80px;
        width: 52px;
        
        img {
            width: 80%;
            height: auto;
        }
    }
}

.point4 {
    .point4-title-light {
        position: absolute;
        top: 18px;
        left: 25px;

        p {
            width: 250px;
            font-family: "MyriadProLight";
            font-size: 20px;
            line-height: 110%;
            color: #ffffff;
            margin: 0px;
        }
    }

    .point4-img {
        position: relative;
        height: 80px;
        img {
            position: absolute;
            width: 63px;
            height: 53px;
            bottom: 1px;
            right: 0px;
        }
    }
}

.point5 {
    .point5-title-bold {
        position: relative;
        top: 22px;
        left: 20px;

        p {
            font-family: "MyriadProBold";
            font-size: 24px;
            color: #ffffff;
            margin: 0px;
        }
    }
}

.point6 {
    .point6-title-light {
        position: absolute;
        top: 16px;
        left: 25px;

        p {
            width: 250px;
            font-family: "MyriadProLight";
            font-size: 20px;
            line-height: 110%;
            color: #ffffff;
            margin: 0px;
        }
    }

    .point6-img {
        position: relative;
        height: 80px;
        img {
            position: absolute;
            width: 60px;
            height: 63px;
            top: 10px;
            right: 0px;
        }
    }
}

.point7 {
    .point7-title-bold {
        position: relative;
        top: 22px;
        left: 20px;

        p {
            font-family: "MyriadProBold";
            font-size: 24px;
            color: #ffffff;
            margin: 0px;
        }
    }
}

.point8 {
    .point8-title-light {
        position: absolute;
        top: 12px;
        left: 25px;

        p {
            width: 250px;
            font-family: "MyriadProLight";
            font-size: 18px;
            line-height: 110%;
            color: #ffffff;
            margin: 0px;
        }
    }
}

.point9 {
    .point9-title-light {
        position: absolute;
        top: 18px;
        left: 25px;

        p {
            font-family: "MyriadProLight";
            font-size: 20px;
            line-height: 110%;
            color: #ffffff;
            margin: 0px;
        }
    }

    .point9-img {
        position: relative;
        height: 80px;
        img {
            position: absolute;
            width: 21px;
            height: 40px;
            top: 20px;
            right: 5%;
        }
    }
}

.point-link {

    &:active {
        color: #ffffff;
        text-decoration: none;
    }

    &:hover,
    &:focus {
        color: #ffffff;
        text-decoration: none;
        transform: scale(.80);        
    }

    &:visited {
        color: #ffffff;
    }
}

// Styles for modal animation

.modal.fade .modal-dialog {
    transition:         transform .3s ease-out;
    transform: translate(0, 0);
}

.modal-menu {
    .fade.in {
        transition: opacity .15s linear;
    }
    .fade {
        transition: opacity .15s linear 2s;
    }
}

        .point-box1 {
            transition: all .3s ease-out 1.8s;
            transform: scale(0.95);
            opacity: 0;
        }

        .point-box2 {
            transition: all .3s ease-out 1.6s;
            transform: scale(0.95);
            opacity: 0;
        }

        .point-box3 {
            transition: all .3s ease-out 1.4s;
            transform: scale(0.95);
            opacity: 0;
        }

        .point-box4 {
            transition: all .3s ease-out 1.2s;
            transform: scale(0.95);
            opacity: 0;
        }

        .point-box5 {
            transition: all .3s ease-out 1s;
            transform: scale(0.95);
            opacity: 0;
        }

        .point-box6 {
            transition: all .3s ease-out .8s;
            transform: scale(0.95);
            opacity: 0;
        }

        .point-box7 {
            transition: all .3s ease-out .6s;
            transform: scale(0.95);
            opacity: 0;
        }

        .point-box8 {
            transition: all .3s ease-out .4s;
            transform: scale(0.95);
            opacity: 0;
        }

        .point-box9 {
            transition: all .3s ease-out .2s;
            transform: scale(0.95);
            opacity: 0;
        }

.fade.in {
    .point-box-1 {
        transition: all .4s ease-out .2s;
        transform: scale(1);
        opacity: 1;
    }

    .point-box-2 {
        transition: all .4s ease-out .4s;
        transform: scale(1);
        opacity: 1;
    }

    .point-box-3 {
        transition: all .4s ease-out .6s;
        transform: scale(1);
        opacity: 1;
    }

    .point-box-6 {
        transition: all .4s ease-out .8s;
        transform: scale(1);
        opacity: 1;
    }

    .point-box-5 {
        transition: all .4s ease-out 1s;
        transform: scale(1);
        opacity: 1;
    }

    .point-box-4 {
        transition: all .4s ease-out 1.2s;
        transform: scale(1);
        opacity: 1;
    }

    .point-box-7 {
        transition: all .4s ease-out 1.4s;
        transform: scale(1);
        opacity: 1;
    }

    .point-box-8 {
        transition: all .4s ease-out 1.6s;
        transform: scale(1);
        opacity: 1;
    }

    .point-box-9 {
        transition: all .4s ease-out 1.8s;
        transform: scale(1);
        opacity: 1;
    }
}

//Styles for modal content

.point1 {
    background-color: #7c42a6;
    height: 80px;
    box-shadow: inset 0px -1px 0px 0px rgba(255,255,255,0.3);
}

.point2 {
    height: 80px;

    background: rgba(69,177,181,1);/* Old Browsers */
    background: -moz-linear-gradient(-45deg, rgba(69,177,181,1) 0%, rgba(192,206,115,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(69,177,181,1)), color-stop(100%, rgba(192,206,115,1)));/* Chrome, Safari4+ */
    background: -webkit-linear-gradient(-45deg, rgba(69,177,181,1) 0%, rgba(192,206,115,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(-45deg, rgba(69,177,181,1) 0%, rgba(192,206,115,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(-45deg, rgba(69,177,181,1) 0%, rgba(192,206,115,1) 100%); /* IE 10+ */
    background: linear-gradient(135deg, rgba(69,177,181,1) 0%, rgba(192,206,115,1) 100%);/* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45b1b5', endColorstr='#c0ce73', GradientType=1 );/* IE6-9 fallback on horizontal gradient */
    
    box-shadow: inset 0px -1px 0px 0px rgba(255,255,255,0.3);
}

.point3 {
    background-color: #522e99;
    height: 80px;
    box-shadow: inset 0px -1px 0px 0px rgba(255,255,255,0.3);
}

.point4 {
    height: 80px;

    background: rgba(194,105,108,1);/* Old Browsers */
    background: -moz-linear-gradient(top, rgba(194,105,108,1) 0%, rgba(159,102,163,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(194,105,108,1)), color-stop(100%, rgba(159,102,163,1)));/* Chrome, Safari4+ */
    background: -webkit-linear-gradient(top, rgba(194,105,108,1) 0%, rgba(159,102,163,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(194,105,108,1) 0%, rgba(159,102,163,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(194,105,108,1) 0%, rgba(159,102,163,1) 100%); /* IE 10+ */
    background: linear-gradient(to bottom, rgba(194,105,108,1) 0%, rgba(159,102,163,1) 100%);/* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c2696c', endColorstr='#9f66a3', GradientType=0 );/* IE6-9 */
    
    box-shadow: inset 0px -1px 0px 0px rgba(255,255,255,0.3);
}

.point5 {
    background-color: #6342a6 ;
    height: 80px;
    box-shadow: inset 0px -1px 0px 0px rgba(255,255,255,0.3);
}

.point6 {
    height: 80px;

    background: rgba(87,20,54,1);/* Old Browsers */
    background: -moz-linear-gradient(-45deg, rgba(87,20,54,1) 0%, rgba(54,16,70,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(87,20,54,1)), color-stop(100%, rgba(54,16,70,1)));/* Chrome, Safari4+ */
    background: -webkit-linear-gradient(-45deg, rgba(87,20,54,1) 0%, rgba(54,16,70,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(-45deg, rgba(87,20,54,1) 0%, rgba(54,16,70,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(-45deg, rgba(87,20,54,1) 0%, rgba(54,16,70,1) 100%); /* IE 10+ */
    background: linear-gradient(135deg, rgba(87,20,54,1) 0%, rgba(54,16,70,1) 100%);/* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#571436', endColorstr='#361046', GradientType=1 );/* IE6-9 fallback on horizontal gradient */
    
    box-shadow: inset 0px -1px 0px 0px rgba(255,255,255,0.3);
}

.point7 {
    background-color: #6342a6 ;
    height: 80px;
    box-shadow: inset 0px -1px 0px 0px rgba(255,255,255,0.3);
}

.point8 {
    background-color: #793380 ;
    height: 80px;
    box-shadow: inset 0px -1px 0px 0px rgba(255,255,255,0.3);
}

.point9 {
    height: 80px;

    background: rgba(87,192,152,1);/* Old Browsers */
    background: -moz-linear-gradient(45deg, rgba(87,192,152,1) 0%, rgba(80,155,162,1) 50%, rgba(158,179,162,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(87,192,152,1)), color-stop(50%, rgba(80,155,162,1)), color-stop(100%, rgba(158,179,162,1)));/* Chrome, Safari4+ */
    background: -webkit-linear-gradient(45deg, rgba(87,192,152,1) 0%, rgba(80,155,162,1) 50%, rgba(158,179,162,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(45deg, rgba(87,192,152,1) 0%, rgba(80,155,162,1) 50%, rgba(158,179,162,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(45deg, rgba(87,192,152,1) 0%, rgba(80,155,162,1) 50%, rgba(158,179,162,1) 100%); /* IE 10+ */
    background: linear-gradient(45deg, rgba(87,192,152,1) 0%, rgba(80,155,162,1) 50%, rgba(158,179,162,1) 100%);/* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#57c098', endColorstr='#9eb3a2', GradientType=1 );/* IE6-9 fallback on horizontal gradient */

    box-shadow: inset 0px -1px 0px 0px rgba(255,255,255,0.3);
}

@media screen and (min-width:350px) {
    
    .point2 { .point2-img {display: inline-block;}}
}

@media screen and (max-width:479px) {

    .modal-menu {

        .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, 
        .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, 
        .col-lg-11, .col-lg-12, .col-md-1, .col-md-2, .col-md-3, 
        .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, 
        .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-sm-1, 
        .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, 
        .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, 
        .col-sm-12, .col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, 
        .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, 
        .col-xs-10, .col-xs-11, .col-xs-12 {
            
            width: 100%;
        }
    }
}

@media screen and (min-width:480px) {
    
    .modal-lg-custom {width: 448px;}

    .modal-menu {
        .modal-dialog {
            margin: 30px auto;
        }
    }

//Content Styles 
    .point1 {
        .point1-title-bold {
            top: 26px;
            left: 12px;

            p {font-size: 22px;}
        }
    }

    .point2{
        .point2-title-light {
            top: 24px;
            left: 18px;

            p {font-size: 22px;}
        }
        
        .point2-img {
            display: none;
            //top: 0px;
            //left: 158px;
        }
    }
    
    .point3 {

        .point3-title-light {
            position: relative;
            top: 12px;
            left: 8px;
        
            p {font-size: 18px;}
        }
    }

    .point3-img {display: none;}

    .point4 {
        .point4-title-light {
            position: absolute;
            top: 22px;
            left: 18px;

            p {
                font-size: 18px;
            }
        }

        .point4-img {
            img {
                width: 48px;
                height: 40px;

            }
        }
    }

    .point5 {
        .point5-title-bold {
            top: 26px;
            left: 8px;
    
            p {
                font-size: 22px;
            }
        }
    }

    .point6 {
        .point6-title-light {
            top: 22px;
            left: 12px;
    
            p {
                font-size: 18px;
            }
        }
    
        .point6-img {display: none;}
    }

    .point7 {
        .point7-title-bold {
            top: 30px;
            left: 12px;

            p {font-size: 16px;}
        }
    }

    .point8 {
        .point8-title-light {
            top: 23px;
            left: 12px;
    
            p {font-size: 11px;}
        }
    }

    .point9 {
        .point9-title-light {
            top: 18px;
            left: 20px;
    
            p {font-size: 20px;}
        }
    
        .point9-img {
            display: none;
        }
    }

}

@media screen and (min-width:768px) {

    .modal-menu {

        .row {
            padding-top: 10px;
            padding-bottom: 10px;
        }
    
        .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, 
        .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, 
        .col-lg-11, .col-lg-12, .col-md-1, .col-md-2, .col-md-3, 
        .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, 
        .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-sm-1, 
        .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, 
        .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, 
        .col-sm-12, .col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, 
        .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, 
        .col-xs-10, .col-xs-11, .col-xs-12 {
            
            padding-bottom: 0px;
            padding-left: 10px;
            padding-right: 10px;
        }

    }

    .modal-lg-custom {width: 726px;}

    .modal-menu {
        .modal-dialog {
            margin: 50px auto;
        }
    }

    .point1, .point2, .point3, .point4, .point5, .point6, .point7, .point8, .point9 {height: 110px;}

    .fade.in {
    
        .point-box-4 {
            transition: all .9s ease-out .8s;
            transform: scale(1);
            opacity: 1;
        }
    
        .point-box-6 {
            transition: all .9s ease-out 1.2s;
            transform: scale(1);
            opacity: 1;
        }
    }

    .point1 {
        .point1-title-bold {
            top: 35px;
            left: 15px;

            p {font-size: 30px;}
        }
    }

    .point2 {
        .point2-title-light {
            top: 35px;
            left: 18px;

            p {font-size: 30px;}
        }

        .point2-img {
            display: inline-block;
            top: 24px;
            left: 255px;
        
        img {width: 100%;}
        }
    }

    .point3 {
        .point3-title-light {
            top: 20px;
            left: 67px;
        
            p {font-size: 20px;}
        }

        .point3-img {
            display: inline-block;
            top: 20px;
            left: 20px;
        
            img {
                width: 90%;
                height: auto;
            }
        }
    }

    .point4 {
        .point4-title-light {
            position: absolute;
            top: 28px;
            left: 25px;

            p {
                font-size: 26px;
            }
        }

        .point4-img {

            height: 110px;
            img {
                width: 85px;
                height: 70px;

            }
        }
    }

    .point5 {
        .point5-title-bold {
            top: 35px;
            left: 25px;

            p {font-size: 30px;}
        }
    }

    .point6 {
        .point6-title-light {
            top: 35px;
            left: 20px;
    
            p {font-size: 20px;}
        }
    
        .point6-img {
            display: block;
            height: 110px;
            img {
                position: absolute;
                width: 64px;
                height: 68px;
                top: 23px;
            }
        }
    }

    .point7 {
        .point7-title-bold {
            top: 37px;
            left: 15px;

            p {font-size: 27px;}
        }
    }

    .point8 {
        .point8-title-light {
            top: 28px;
            left: 24px;
    
            p {font-size: 17px;}
        }
    }

    .point9 {
        .point9-title-light {
            position: absolute;
            top: 28px;
            left: 25px;

            p {
                font-size: 26px;
            }
        }

        .point9-img {
            display: block;
            height: 110px;
            img {
                top: 35px;
                right: 30px;
            }
        }
    }

}

@media screen and (min-width:992px) {

    .modal-lg-custom {width: 960px;}

    .point1, .point2, .point3, .point4, .point5, .point6, .point7, .point8, .point9 {height: 140px;}

    .point1 {
        .point1-title-bold {
            top: 50px;
            left: 30px;
        }
    }

    .point2 {

        .point2-title-light {
            top: 50px;
            left: 40px;
        }

        .point2-img {
            top: 39px;
            left: 355px;
        
        img {width: 100%;}
        }

    }


    .point3 {
        .point3-title-light {
            top: 34px;
            left: 110px;
        
            p {font-size: 20px;}
        }

        .point3-img {
            display: inline-block;
            top: 30px;
            left: 35px;
        
            img {
                width: 100%;
                height: auto;
            }
        }
    }

    .point4 {
        .point4-title-light {
            position: absolute;
            top: 37px;
            left: 40px;

            p {
                font-size: 30px;
                width: 290px;   
            }
        }

        .point4-img {

            height: 140px;
            img {
                width: 129px;
                height: 107px;

            }
        }
    }

    .point5 {
        .point5-title-bold {
            top: 50px;
            left: 52px;
        }
    }

    .point6 {
        .point6-title-light {
            top: 46px;
            left: 35px;
    
            p {font-size: 20px;}
        }
    
        .point6-img {
            height: 140px;
            img {
                width: 96px;
                height: 100px;
                top: 20px;
            }
        }
    }

    .point7 {
        .point7-title-bold {
            top: 50px;
            left: 30px;

            p {font-size: 30px;}
        }
    }

    .point8 {
        .point8-title-light {
            top: 37px;
            left: 44px;
    
            p {font-size: 20px;}
        }
    }

    .point9 {
            .point9-title-light {
                top: 37px;
                left: 40px;
    
                p {font-size: 30px;}
        }

        .point9-img {
            height: 140px;
            img {top: 50px;}
        }
    }

}

@media screen and (min-width:1200px) {

}

    
    
    // NEW FONTS // Хммм, тут мы ведь удаляем эти шрифты????????????????????
    @font-face {
        font-family: "MyriadProLight"; 
        src: url('../fonts/MyriadProLight.woff2') format('woff2'),
        url("../fonts/MyriadProLight.ttf") format("truetype"),
        url('../fonts/MyriadProLight.woff') format('woff');
        font-style: normal; 
        font-weight: normal; 
    }
    
    @font-face {
        font-family: "UniSansHeavyCaps";
        src: url('../fonts/UniSansHeavyCaps.woff2') format('woff2'), 
        url('../fonts/UniSansHeavyCaps.ttf')  format('truetype'),
        url('../fonts/UniSansHeavyCaps.woff') format('woff'); 
        font-weight: normal; 
        font-style: normal;
    }