// Styles for modal grid system
.modal-menu {
    .row {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, 
    .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, 
    .col-lg-11, .col-lg-12, .col-md-1, .col-md-2, .col-md-3, 
    .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, 
    .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-sm-1, 
    .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, 
    .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, 
    .col-sm-12, .col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, 
    .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, 
    .col-xs-10, .col-xs-11, .col-xs-12 {

        padding-left: 10px;
        padding-right: 10px;
    }

    .modal-content {
        box-shadow: none;
        border: none;
    }

    .modal-header {
        border:none;
    }


}

// Styles only for modal-menu block

.modal-transparent {
    background: transparent;
}
.modal-transparent .modal-content {
    background: transparent;}
.modal-backdrop.modal-backdrop-transparent {
    transition: opacity 0.9s ease-out;
    opacity: 0;
}
.modal-backdrop.modal-backdrop-transparent.in {
    transition: opacity 0.4s ease-out;
    opacity: .8;
}


.modal-open {.affix-top {padding-right: 17px;}} // I am clearly tsar. I fixed moving right affix block when modal window open.

.point-title-bold-lg {
    p {
        font-family: "MyriadProBold";
        font-size: 30px;
        color: #ffffff;
    }
}

.point-link {

    &:active {
        color: #ffffff;
        text-decoration: none;
    }

    &:hover,
    &:focus {
        color: #ffffff;
        text-decoration: none;
        transform: scale(.80);        
    }

    &:visited {
        color: #ffffff;
    }
}

// Styles for modal animation

.modal.fade .modal-dialog {
    transition:         transform .3s ease-out;
    transform: translate(0, 0);
}

.point-box1, .point-box2, .point-box3, .point-box4, .point-box5, .point-box6, .point-box7, .point-box8, .point-box9, {
    transition: all .9s ease-out;
    transform: scale(0.95);
    opacity: 0;
    
}

.point-test {
    transition: all .9s ease-out;
    transform: scale(0.95);
    //opacity: 0;
}

.fade.in {
    .point-box-1 {
        transition: all .9s ease-out;
        transform: scale(1);
        opacity: 1;
    }
}

//Styles for modal content

.point1 {
    background-color: #7c42a6;
    height: 140px;
    box-shadow: inset 0px -1px 0px 0px rgba(255,255,255,0.5);
}

.point2 {
    background-color: #4db5b2;
    height: 140px;
    box-shadow: inset 0px -1px 0px 0px rgba(255,255,255,0.5);
}

.point3 {
    background-color: #522e99;
    height: 140px;
    box-shadow: inset 0px -1px 0px 0px rgba(255,255,255,0.5);
}

.point4 {
    background-color: #c06a71;
    height: 140px;
    box-shadow: inset 0px -1px 0px 0px rgba(255,255,255,0.5);
}

.point5 {
    background-color: #6342a6 ;
    height: 140px;
    box-shadow: inset 0px -1px 0px 0px rgba(255,255,255,0.5);
}

.point6 {
    background-color: #541137 ;
    height: 140px;
    box-shadow: inset 0px -1px 0px 0px rgba(255,255,255,0.5);
}

.point7 {
    background-color: #6342a6 ;
    height: 140px;
    box-shadow: inset 0px -1px 0px 0px rgba(255,255,255,0.5);
}

.point8 {
    background-color: #793380 ;
    height: 140px;
    box-shadow: inset 0px -1px 0px 0px rgba(255,255,255,0.5);
}

.point9 {
    background-color: #618c9c ;
    height: 140px;
    box-shadow: inset 0px -1px 0px 0px rgba(255,255,255,0.5);
}

@media screen and (min-width:480px) {
    
   // .modal-lg-custom {width: 448px;}

    .modal-menu {
        .modal-dialog {
            margin: 30px auto;
        }
    }

}

@media screen and (min-width:768px) {

    .modal-lg-custom {width: 736px;}

    .modal-menu {
        .modal-dialog {
            margin: 50px auto;
        }
    }

}

@media screen and (min-width:992px) {

    .modal-lg-custom {width: 960px;}

}

@media screen and (min-width:1200px) {

}

    
    
    // NEW FONTS 
    @font-face {
        font-family: "MyriadProLight"; 
        src: url('../fonts/MyriadProLight.woff2') format('woff2'),
        url("../fonts/MyriadProLight.ttf") format("truetype"),
        url('../fonts/MyriadProLight.woff') format('woff');
        font-style: normal; 
        font-weight: normal; 
    }
    
    @font-face {
        font-family: "UniSansHeavyCaps";
        src: url('../fonts/UniSansHeavyCaps.woff2') format('woff2'), 
        url('../fonts/UniSansHeavyCaps.ttf')  format('truetype'),
        url('../fonts/UniSansHeavyCaps.woff') format('woff'); 
        font-weight: normal; 
        font-style: normal;
    }