.card-ready {
    display: none;

    .form-horizontal {
        margin: 65px auto 0px; // in 480 add margin left and right 20
        width: 100%;
        max-width: 400px;
        .btn-next {
            margin-bottom: 213px; 
        }
    }

    .input-line {
        width: 100%;
        height: 1px;
        background-color: #7fffb5;

    }
    input[type=text]:focus {
    padding-bottom: 20px;

    + div {
        height: 2px;
        box-shadow: 0px 0px 40px 1px rgba(127,255,181,0.72);
        }
    }

    input[type=text]:hover {
        padding-bottom: 20px;
    
        + div {
            height: 2px;
            box-shadow: 0px 0px 40px 1px rgba(127,255,181,0.72);
            }    
        }
}

.card-not-ready {display: block;}

.registration {
    background:url(../img/registration-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

    color: #ffffff;
    font-family: "MyriadProLight";
}

.registration-header {margin-top: 55px;
                margin-bottom: 0px;}

.registration-logo {
    img {
        display: none;

    }
    
    h2 {
        font-size: 40px;
        display: block;
        text-align: center;
    }
}

.registration-checkbox {
    font-size: 20px;
    width: 220px;
    margin: 0 auto 11px;

    p {padding-left: 34px;
    margin:7px 0px 0px 0px;}
}

.checkbox-reg {
    width: 28px;
    height: 28px;
    position: relative;
    background: transparent;

    label {
        width: 20px;
        height: 20px;
        cursor: pointer;
        position: absolute;
        left: 0px;
        top: 37px;
        background: transparent;
        border: 1px solid rgb(255, 255, 255);
        border: 1px solid rgba(255, 255, 255, 0.5);
        background-clip: padding-box;
        
        &:after {
            content: '';
            width: 26px;
            height: 14px;
            position: absolute;
            top: -3px;
            left: -1px;
            transform: rotate(-50deg);
            border: 2px solid #ffffff;
            border-top: none;
            border-right: none;
            background: transparent;
            opacity: 0;
            
        }
            
        &:hover::after {
            opacity: 0.3;
        }
    }

    input[type=checkbox] {
        visibility: hidden;

        &:checked + label:after {
            opacity: 1;
        }    
    }
}

.registration-tab-panel {
    margin-bottom: 89px;
}

.nav-tabs-custom {
border: none;

}

// TAB STYLES

.nav-tabs-custom > li.active > a
//.nav-tabs-custom > li.active > a:hover,
//.nav-tabs-custom > li.active > a:focus 
{
    color: #7fffb5;
    cursor: pointer;
    background-color: transparent;
    border: 1px solid #7fffb5;
    border-bottom: none;
    border-left: none;
    border-right: none;
    padding-left: 0px;
    border-radius: 0px;
    
  
    &:hover, &:focus {
        color: #7fffb5;
        cursor: pointer;
        background-color: transparent;
        border: 1px solid #7fffb5;
        border-bottom: none;
        border-left: none;
        border-right: none;
    }

    &:active {
        color: #7fffb5;
        cursor: pointer;
        background-color: transparent;
        border: 1px solid #7fffb5;
        border-bottom: none;
        border-left: none;
        border-right: none;
    }
}
.nav-tabs-custom li  {
    width: 100%; //140px try on 480
    
    a {
        color: #406d79;
        cursor: pointer;
        background-color: transparent;
        border: 1px solid #406d79;
        border-bottom: none;
        border-left: none;
        border-right: none;
        padding-left: 0px;
        border-radius: 0px;
        padding-top: 8px;
        padding-bottom: 8px;        
        font-size: 14px;
        line-height: 16px;
        
        &:hover, &:focus {
            color: #7fffb5;
            cursor: pointer;
            background-color: transparent;
            border: 1px solid #7fffb5;
            border-bottom: none;
            border-left: none;
            border-right: none;
        }
    }
}

//FORM STYLES
.registration {

    .form-group {
        margin-bottom: 16px;
    }

    .form-control {
        border: none;
        box-shadow: none;

        border-bottom: none;    //border-bottom: 1px solid #7fffbf;
        border-radius: 0px;
        padding: 22px 0px 21px 0px;
        font-size: 20px;
        line-height: 22px;
        color: #ffffff;
        margin-bottom: 0px;
        margin-top: 0px;

        background-color: transparent;

    }

    input::placeholder {
        color: white;
        opacity: 0.8;
    }

    .card-not-ready {
        .input-line {
            width: 100%;
            height: 1px;
            background-color: #7fffb5;
    
        }
        input[type=text]:focus {
        padding-bottom: 20px;
    
        + div {
            height: 2px;
            box-shadow: 0px 0px 40px 1px rgba(127,255,181,0.72);
            }
        }
    
        input[type=text]:hover {
            padding-bottom: 20px;
        
            + div {
                height: 2px;
                box-shadow: 0px 0px 40px 1px rgba(127,255,181,0.72);
                }    
            }
    }

    .btn-next {
        font-family: "MyriadProLight";
        margin-top: 27px;
        margin-bottom: 27px; // Далеее сделать 98px
        
        display: block;
        float: right;
        padding: 9px 29px;
        border: none;
        border-radius: 50px;
        outline: none !important;

        line-height: 22px;
        text-align: center;
        color: #ffffff;
        font-size: 20px;

        background: -moz-linear-gradient(75deg, rgba(153,55,177,1) 0%, rgba(124,77,255,1) 100%); /* ff3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(124,77,255,1)), color-stop(100%, rgba(153,55,177,1))); /* safari4+,chrome */
        background: -webkit-linear-gradient(75deg, rgba(153,55,177,1) 0%, rgba(124,77,255,1) 100%); /* safari5.1+,chrome10+ */
        background: -o-linear-gradient(75deg, rgba(153,55,177,1) 0%, rgba(124,77,255,1) 100%); /* opera 11.10+ */
        background: -ms-linear-gradient(75deg, rgba(153,55,177,1) 0%, rgba(124,77,255,1) 100%); /* ie10+ */
        background: linear-gradient(15deg, rgba(153,55,177,1) 0%, rgba(124,77,255,1) 100%); /* w3c */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7c4dff', endColorstr='#9937b1',GradientType=0 ); /* ie6-9 */

        &:active {
            transform: scale(.98); // Уменьшение кнопки через скайл
            box-shadow: none;
            
        }

    }
}

// STUFF BLOCK STYLE

.registration-stuff-1 {
    height: 291px;
    img {
        position: absolute;
        width:  291px;
        height: 291px;
        left: 50%;
        transform: translateX(-50%);
        top: -20px;
    }

    p {
        position: absolute;
        top: 10px;
        right: 20px;
        text-align: right;
        font-style: italic;        
    }
}

.registration-stuff-2 {
    height: 350px;
        .stuff-2-card {
        position: absolute;
        top: 20px;
        left: 50%;
        transform: translateX(-50%);
        width: 223px; //363
        height: 145px; //236

    }

    .stuff-2-point {
        position: absolute;
        top: 140px;
        left: 50%;
        transform: translateX(405%);



    }

    p {
        position: absolute;
        text-align: right;
        font-style: italic;
        top: 195px;
        right: 60px;
    }

    .item-point-stuff-2 {
        display: block;
        position: absolute;
        z-index: 222;
        top: 140px;
        left: 50%;
        transform: translateX(86px);

    
        .top-pulsate {
            background-color:  #e8e8e838;
            border-radius:30px;
            height:35px;
            width:35px;
    
            right:-14px;
            top:1px;
    
            margin:-15px 0 0 -15px;
            opacity:0;
            position:absolute;
    
            animation: pulsate 1.5s ease-out;
            animation-iteration-count:infinite;
            animation-delay: 0s;
            }
            @-webkit-keyframes pulsate {
                0% {
                    transform: scale(0.1);
                    opacity: 0;
                } 
                50% {
                    opacity:1;
                } 
                100% {
                    transform:scale(1.2);
                    opacity:0;
                }
            }
    
        .top-pulsate1 {
            background-color:  #e8e8e838;
            border-radius: 30px;
            height: 23px;
            width: 23px;

            right: -8px;
            top: 7px;

            margin: -15px 0 0 -15px;
            opacity: 0;
            position: absolute;
            
            animation: pulsate 1.5s ease-out;
            animation-iteration-count:infinite;
            animation-delay: 0s;
        }
    }
}

.registration-stuff-3 {
    height: 350px;
    .stuff-3 {
        display: none;
    }

    .stuff-3-small {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }

    .stuff-3-card {
        position: absolute;
        top: -25px;
        left: 50%;
        transform: translateX(-82%);
            
    }

    .stuff-3-point {
        position: absolute;
        top: 180px;
        left: 50%;
        transform: scale(-1, 1) rotate(90deg) translateY(1%);
        
        
    }

    p {
        position: absolute;
        font-style: italic;
        top: 260px;
        left: 20%;
        transform: translateX(-20%);
        text-align: left;
        
    }

    .item-point-stuff-3 {
        display: block;
        position: absolute;
        z-index: 222;
        top: 177px;
        left: 50%;
        transform: translateX(76px);

    
        .top-pulsate {
            background-color:  #d3d0d09a;
            border-radius:30px;
            height:35px;
            width:35px;
    
            right:-14px;
            top:1px;
    
            margin:-15px 0 0 -15px;
            opacity:0;
            position:absolute;
    
            animation: pulsate 1.5s ease-out;
            animation-iteration-count:infinite;
            animation-delay: 0s;
            }
            @-webkit-keyframes pulsate {
                0% {
                    transform: scale(0.1);
                    opacity: 0;
                } 
                50% {
                    opacity:1;
                } 
                100% {
                    transform:scale(1.2);
                    opacity:0;
                }
            }
    
        .top-pulsate1 {
            background-color:  #d3d0d09a;
            border-radius: 30px;
            height: 23px;
            width: 23px;

            right: -8px;
            top: 7px;

            margin: -15px 0 0 -15px;
            opacity: 0;
            position: absolute;
            
            animation: pulsate 1.5s ease-out;
            animation-iteration-count:infinite;
            animation-delay: 0s;
        }
    }
}

.registration-stuff-3-btn {
    width: 250px;
    margin: 0 auto;
}

.btn-stuff-1, .btn-stuff-2 {
    font-family: "MyriadProLight";
    margin-top: 27px;
    margin-bottom: 27px; // Далеее сделать 98px
    
    display: inline-block;
    padding: 5px 10px; // 9 29
    border: none;
    border-radius: 50px;
    outline: none !important;

    line-height: 16px;
    text-align: center;
    color: #ffffff;
    font-size: 14px; //20

    background: -moz-linear-gradient(75deg, rgba(153,55,177,1) 0%, rgba(124,77,255,1) 100%); /* ff3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(124,77,255,1)), color-stop(100%, rgba(153,55,177,1))); /* safari4+,chrome */
    background: -webkit-linear-gradient(75deg, rgba(153,55,177,1) 0%, rgba(124,77,255,1) 100%); /* safari5.1+,chrome10+ */
    background: -o-linear-gradient(75deg, rgba(153,55,177,1) 0%, rgba(124,77,255,1) 100%); /* opera 11.10+ */
    background: -ms-linear-gradient(75deg, rgba(153,55,177,1) 0%, rgba(124,77,255,1) 100%); /* ie10+ */
    background: linear-gradient(15deg, rgba(153,55,177,1) 0%, rgba(124,77,255,1) 100%); /* w3c */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7c4dff', endColorstr='#9937b1',GradientType=0 ); /* ie6-9 */
}

.btn-stuff-1 {
    background:transparent;
    border: 1px solid #ffffff;
    margin-right: 14px;
}

@media screen and (min-width:480px) {
    .registration-tab-panel {
        .tabs {
            margin: 10px auto 0px;
            width: 432px;
        }
        
    }

    .nav-tabs-custom li  {
        width: 140px;
    }

}

@media screen and (min-width:768px) {

    .registration-logo {
        img {
            display: inline-block;
            padding-bottom: 16px; 
            padding-right: 32px; 
        }
        
        h2 {
            font-size: 40px;
            display: inline-block;
        }
    }

    .registration-checkbox {
        font-size: 20px;
        width: 220px;
        margin: 0 0 11px;
        float: right;
    }

}

@media screen and (min-width:992px) {

    .registration-header {
        width: 940px;
        margin: 55px auto 0px;
    }

}

@media screen and (min-width:1200px) {

}